//- CLIENTS CAROUSEL
.clientSection
    .container
        #clientsCarousel
            .item
                a(href='http://www.abc.es/tecnologia/moviles-aplicaciones/20140315/abci-upplication-wordpress-creacion-201403141400.html', target='_blank', title='')
                    img(src='#{localConfig.base_path}/images/home/clients/abc.png', alt='ABC logo')
            .item
                a(href='http://www.eleconomista.es/interstitial/volver/consejo/emprendedores-innova/noticias/5498091/01/14/Upplication-permite-crear-una-aplicacion-movil-por-menos-de-5-euros-al-mes.html', target='_blank', title='')
                    img(src='#{localConfig.base_path}/images/home/clients/eleconomista.png', alt='El Economista logo')
            .item
                a(href='http://www.forbes.es/actualizaciones/', target='_blank', title='')
                    img(src='#{localConfig.base_path}/images/home/clients/forbes.png', alt='Forbes logo')
            .item
                a(href='http://www.efeempresas.com/noticia/nace-upplication-startup-permite-crear-propia-aplicacion-movil-efeempresas/', target='_blank', title='')
                    img(src='#{localConfig.base_path}/images/home/clients/emprende.png', alt='Emprende logo')
            .item
                a(href='http://blogthinkbig.com/upplication-post-pc/', target='_blank', title='')
                    img(src='#{localConfig.base_path}/images/home/clients/telefonica.png', alt='Telefónica logo')
            .item
                a(href='http://www.ticbeat.com/pymes/servicios-crear-app-de-tu-negocio-sin-programar/', target='_blank', title='')
                    img(src='#{localConfig.base_path}/images/home/clients/ticbeat.png', alt='TicBeat logo')
            .item
                a(href='http://wwwhatsnew.com/2013/10/21/upplication-para-crear-apps-de-comercio-electronico-sin-saber-programar', target='_blank', title='')
                    img(src='#{localConfig.base_path}/images/home/clients/wwwhatsnew.png', alt='wwwhatsnew logo')
//- 15 DAYS TRIAL BUTTOM
.pricing-plan
   .container
      .pricing-plan-grids
          .pricing-plan-left
             h2 !{footer.try_it}
             span #{home.permanence}
          .pricing-plan-right
             a.price-btn.modal-trigger(href='#pruebaGratis') #{header.free_trial}
          .clearfix
//- COSTUMERS SERVICES CONTACT AREA
.servCliente
   .container
      .col.s12
         ul
            li
               a #{help_center.customer_service.text2}
            li.tel.hover-anim
               a(href='#{help_center.customer_service.phone.link}', title='#{help_center.customer_service.phone.alt_tag}')
                  i.icon-phone
                  | !{help_center.customer_service.phone.text_tel}
            li.mail.hover-anim
               a(href='#{help_center.customer_service.email.link}', title='#{help_center.customer_service.email.alt_tag}')
                  i.icon-envelope
                  | #{help_center.customer_service.email.title}
//- FOOTER
footer.page-footer
                    //- Footer :: links compilation
                    .container.padTop50.padBot50
                        .row.hover-anim
                            .col.l3.s12.footCol
                                h6 #{external.titles.help}
                                ul.footLinks
                                    li
                                        a(href='#{external.helpcenter.url}', title='#{external.helpcenter.anchor}') #{external.helpcenter.anchor}
                                    li
                                        a(href='#{external.tutorials.url}', title='#{external.tutorials.anchor}') #{external.tutorials.anchor}
                                    li
                                        a(href='http://www.upplication.com/blog/', title='#{external.helpcenter.anchor}') #{external.blog.anchor}
                            .col.l3.s12.footCol
                                h6 #{external.titles.uppl}
                                ul.uppOnFoot.footLinks(type='circle')
                                    li
                                        a(href='#tabs', title='#{external.features.anchor}') #{external.features.anchor}
                                    li
                                        a(href='#about', title='#{external.create_apps.anchor}') #{external.create_apps.anchor}
                                    li
                                        a(href='#tabs', title='#{external.apps.anchor}') #{external.apps.anchor}
                                    li
                                        a(href='#{external.pricing.url}', title='#{external.pricing.anchor}') #{external.pricing.anchor}
                            .col.l3.s12.footCol
                                h6 #{external.titles.misc}
                                ul.footLinks
                                    li
                                        a(href='#{external.about.url}', title='#{external.about.anchor}') #{external.about.anchor}
                                    li
                                        a(href='#{external.company.url}', title='#{external.company.anchor}') #{external.company.anchor}
                                    // li
                                        a(href='#{external.partners.url}', title='#{external.partners.anchor}') #{external.partners.anchor}
                                    li
                                        a.modal-trigger(href='#hiring', title='#{external.hiring}', target='_blank') #{external.hiring}
                                    li
                                        a(href='#{external.breakfasts.url}', target='_blank', title='#{external.breakfasts.anchor}') #{external.breakfasts.anchor}
                                    // li
                                        a(href='#{external.media_kit.url}', title='#{external.media_kit.anchor}') #{external.media_kit.anchor}
                            .col.l3.s12.footCol
                                h6 #{external.titles.legal}
                                ul.footLinks
                                    li
                                        a(href='#{footer.tos.legal.url}', title='#{footer.tos.legal.title}') #{footer.tos.legal.title}
                                    li
                                        a(href='#{footer.tos.privacy.url}', title='#{footer.tos.privacy.title}') #{footer.tos.privacy.title}
                                    li
                                        a(href='#{footer.tos.terms_of_use.url}', title='#{footer.tos.terms_of_use.title}') #{footer.tos.terms_of_use.title}
                                    li
                                        a(href='#{footer.tos.cookies.url}', title='#{footer.tos.cookies.title}') #{footer.tos.cookies.title}
                    .clearfix
                    //- Footer :: Copyright & Social Media icon buttons
                    .footer-copyright
                        .container
                            span
                                i.fa.fa-copyright
                                | #{footer.brand_copy}
                            i.fa.fa-circle
                            em #{footer.signature}
                            ul.rrss.right.hover-anim
                                li.facebook
                                    a(href='#{external.facebook.url}', target='_blank', title='#{external.facebook.anchor}')
                                        i.fa.fa-facebook
                                li.twitter
                                    a(href='#{external.twitter.url}', target='_blank', title='#{external.twitter.anchor}')
                                        i.fa.fa-twitter
                                li.instagram
                                    a(href='#{external.instagram.url}', target='_blank', title='#{external.instagram.anchor}')
                                        i.fa.fa-instagram
                                li.youtube
                                    a(href='#{external.youtube.url}', target='_blank', title='#{external.youtube.anchor}')
                                        i.fa.fa-youtube-play
                                li.linkedin
                                    a(href='#{external.linkedin.url}', target='_blank', title='#{external.linkedin.anchor}')
                                        i.fa.fa-linkedin
                                li.google
                                    a(href='#{external.googleplus.url}', target='_blank', title='#{external.googleplus.anchor}')
                                        i.fa.fa-google-plus
                    //- Footer :: Social Media share buttons :: Hide to the user (opacity: 0)
                    .footer-socialmedia-btns
                        .container
                            ul.rrss.right.hover-anim
                                li
                                    a.twitter-follow-button(href='#{external.social_media_btns.twitter}', data-show-count='false')
                                li
                                    a.fb-share-button(href='#{external.facebook.url}', data-layout='button')
                                li
                                    script(src='//platform.linkedin.com/in.js', type='text/javascript').
                                        lang: en_US
                                    script(type='IN/Share')
                                li
                                    script(src='https://apis.google.com/js/platform.js', async='', defer='').
                                        {lang: 'es'}
                                    .g-plus(data-action='share', data-annotation='none')
                                li
                                    span.ig-follow(data-id='5479dee', data-handle='igfbdotcom', data-count='false', data-size='small', data-username='true')
                                li
                                    script(src='https://apis.google.com/js/platform.js')
                                    .g-ytsubscribe(data-channel='GoogleDevelopers', data-layout='default', data-count='hidden')
                    //- Footer :: Partners links
                    .footer-bottom
                        .container
                             ul
                                li
                                    a(rel='nofollow', href='#{footer.partners.eu.url}', target='_blank', title='#{footer.partners.eu.title}')
                                       img(src='#{localConfig.base_path}/images/home/icons/eu.png', alt='#{footer.partners.eu.title}')
                                li
                                    a(rel='nofollow', href='#{footer.partners.mixpanel.url}', target='_blank', title='#{footer.partners.mixpanel.title}')
                                       img(src='#{localConfig.base_path}/images/home/icons/badge_light.png', alt='#{footer.partners.mixpanel.title}')
                                li
                                    a(rel='nofollow', href='#{footer.partners.telefonica.url}', target='_blank', title='#{footer.partners.telefonica.title}')
                                        img(src='#{localConfig.base_path}/images/home/icons/telefonica.png', alt='#{footer.partners.telefonica.title}')
                                li
                                    a(rel='nofollow', href='#{footer.partners.wayra.url}', target='_blank', title='#{footer.partners.wayra.title}')
                                        img(src='#{localConfig.base_path}/images/home/icons/wayra.png', alt='#{footer.partners.wayra.title}')