//- MODAL :: CONTACT
a.modal-action.modal-close.waves-effect.waves-green.btn-flat
   i.fa.fa-close
.modal-content
   h2 !{modal.head.contact_modal}
   .row.contact-btns
      .col.s12.m6
         a.waves-effect.waves-light.btn-large.btn-upp(href='#{modal.button.telf}', title='#{modal.button.telephone}')
            i.material-icons #{modal.button.icon_telf}
            span #{modal.button.telephone}
      .col.s12.m6
         a.waves-effect.waves-light.btn-large.btn-upp(href='#{modal.button.email}', title='#{modal.button.support_mail}')
            i.material-icons #{modal.button.icon_email}
            span #{modal.button.support_mail}
   .row
      ul.rrss-modal.hover-anim
         li.facebook
            a(href='#{external.facebook.url}', target='_blank', title='#{external.facebook.anchor}')
               i.fa.fa-facebook
         li.twitter
            a(href='#{external.twitter.url}', target='_blank', title='#{external.twitter.anchor}')
               i.fa.fa-twitter
         li.instagram
            a(href='#{external.instagram.url}', target='_blank', title='#{external.instagram.anchor}')
               i.fa.fa-instagram
         li.youtube
            a(href='#{external.youtube.url}', target='_blank', title='#{external.youtube.anchor}')
               i.fa.fa-youtube-play
         li.linkedin
            a(href='#{external.linkedin.url}', target='_blank', title='#{external.linkedin.anchor}')
               i.fa.fa-linkedin
         li.google
            a(href='#{external.googleplus.url}', target='_blank', title='#{external.googleplus.anchor}')
              i.fa.fa-google-plus