//- MODAL :: FREE TRIAL
a.modal-action.modal-close.waves-effect.waves-green.btn-flat
    i.fa.fa-close
.modal-content
    h2 !{modal.head.register_modal}
    .row
        form(name="register", action="/register", method="post").col.s12.center
            input(type="hidden", name="customerType", value="UPPLICATION")
            p.error.general-error.display-none #{register.error.general}
            .input-field.col.s12
                i.material-icons.prefix settings_cell
                input#modal_app_name.validate(type='text', name='appName', required)
                label(for='modal_app_name') #{form.input.name}
                    p.error.display-none.register-appName-error
            .input-field.col.s12
                i.material-icons.prefix email
                input#modal_email.validate(type='email', name='email', required)
                label(for='modal_email') #{form.input.email}
                    p.error.display-none.register-email-error
            .input-field.col.s12
                i.material-icons.prefix vpn_key
                input#modal_pass.validate(type='password', name='password', required)
                label(for='modal_pass') #{form.input.pass}
                    p.error.display-none.register-password-error
            .input-field.col.s12
                button(type="submit", data-loading="#{register.loading}", data-text="#{register.call_to_action}").waves-effect.waves-light.btn-large.btn-upp
                    i.material-icons.left.check #{icons.check}
                    span #{header.free_trial}
.modal-terms
    ul.hover-anim
        li
            | #{modal.footer.accept}&nbsp;
            a(href='#{external.tos.url}', target='_blank', title='#{modal.footer.terms}') #{modal.footer.terms}
            | .