//- MODAL :: HIRING
a.modal-action.modal-close.waves-effect.waves-green.btn-flat
   i.fa.fa-close
.modal-content
   h2 !{modal.head.hiring_modal}
   .row.hiring-icons
      .col.s12
         img.circle.responsive-img(src='#{localConfig.base_path}/images/home/bg/hiring-dino.jpg', alt='')
      .clearfix
   .row.contact-btns
      .col.s12.m6
         a.waves-effect.waves-light.btn-large.btn-upp(href='#{external.hiring_backend.url}', title='#{external.hiring_backend.anchor}', target='_blank') #{external.hiring_backend.anchor}
      .col.s12.m6
         a.waves-effect.waves-light.btn-large.btn-upp(href='#{external.hiring_frontend.url}', title='#{external.hiring_frontend.anchor}', target='_blank') #{external.hiring_frontend.anchor}
      .col.s12.m6
         a.waves-effect.waves-light.btn-large.btn-upp(href='#{external.hiring_developer.url}', title='#{external.hiring_developer.anchor}', target='_blank') #{external.hiring_developer.anchor}
      .col.s12.m6
         a.waves-effect.waves-light.btn-large.btn-upp(href='#{external.hiring_marketing.url}', title='#{external.hiring_marketing.anchor}', target='_blank') #{external.hiring_marketing.anchor}