/*
TEAM CSS: Custom Stylesheet --- CSS GENERALES: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

/* General classes */

.animate-hover {
  -webkit-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.total-fix {
  margin: 0 !important;
  padding: 0 !important;
}

/* Team Images :: Singles Ones */

.upp-boss-img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.team-victor {
  background: url("@@config.base_path/images/about/victor_cmo.jpg") no-repeat center center;
}

.team-victor:hover {
  background: url("@@config.base_path/images/about/victor_cmo_2.jpg") no-repeat center center;
}

.team-jose {
  background: url("@@config.base_path/images/about/jose_ceo.jpg") no-repeat center center;
}

.team-jose:hover {
  background: url("@@config.base_path/images/about/jose_ceo_2.jpg") no-repeat center center;
}

.upp-team-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.tooltipped {
  cursor: pointer;
}

.team-arnaiz {
  background: url("@@config.base_path/images/about/javi_cto.jpg") no-repeat center center;
}

.team-arnaiz:hover {
  background: url("@@config.base_path/images/about/javi_cto_2.jpg") no-repeat center center;
}

.team-belen {
  background: url("@@config.base_path/images/about/belen_support.jpg") no-repeat center center;
}

.team-belen:hover {
  background: url("@@config.base_path/images/about/belen_support_2.jpg") no-repeat center center;
}

.team-coomonte {
  background: url("@@config.base_path/images/about/coomonte_sales.jpg") no-repeat center center;
}

.team-coomonte:hover {
  background: url("@@config.base_path/images/about/coomonte_sales_2.jpg") no-repeat center center;
}

.team-noemi {
  background: url("@@config.base_path/images/about/noemi_account.jpg") no-repeat center center;
}

.team-noemi:hover {
  background: url("@@config.base_path/images/about/noemi_account_2.jpg") no-repeat center center;
}

.team-gorka {
  background: url("@@config.base_path/images/about/gorka_dev.jpg") no-repeat center center;
}

.team-gorka:hover {
  background: url("@@config.base_path/images/about/gorka_dev_2.jpg") no-repeat center center;
}

.team-jotaele {
  background: url("@@config.base_path/images/about/javi_design.jpg") no-repeat center center;
}

.team-jotaele:hover {
  background: url("@@config.base_path/images/about/javi_design_2.jpg") no-repeat center center;
}

.team-juanjo {
  background: url("@@config.base_path/images/about/juanjo_dev.jpg") no-repeat center center;
}

.team-juanjo:hover {
  background: url("@@config.base_path/images/about/juanjo_dev_2.jpg") no-repeat center center;
}

.team-marcos {
  background: url("@@config.base_path/images/about/marcos_dev.jpg") no-repeat center center;
}

.team-marcos:hover {
  background: url("@@config.base_path/images/about/marcos_dev_2.jpg") no-repeat center center;
}

.team-alvaro {
  background: url("@@config.base_path/images/about/alvaro_sales.jpg") no-repeat center center;
}

.team-alvaro:hover {
  background: url("@@config.base_path/images/about/alvaro_sales_2.jpg") no-repeat center center;
}

.team-angel {
  background: url("@@config.base_path/images/about/angel_support.jpg") no-repeat center center;
}

.team-angel:hover {
  background: url("@@config.base_path/images/about/angel_support_2.jpg") no-repeat center center;
}

.team-cris {
  background: url("@@config.base_path/images/about/cris_marketing.jpg") no-repeat center center;
}

.team-cris:hover {
  background: url("@@config.base_path/images/about/cris_marketing_2.jpg") no-repeat center center;
}

.team-kelia {
  background: url("@@config.base_path/images/about/kelia_marketing.jpg") no-repeat center center;
}

.team-kelia:hover {
  background: url("@@config.base_path/images/about/kelia_marketing_2.jpg") no-repeat center center;
}

.team-newfella {
  background: url("@@config.base_path/images/about/new_fella.jpg") no-repeat center center;
}

.team-newfella:hover {
  background: url("@@config.base_path/images/about/new_fella_2.jpg") no-repeat center center;
}

/* TEAM Images :: Grupal Pictures */

/* Team Header */

.team-header {
  margin-top: 100px;
}

.team-header h4,
#team h4 {
  color: #555;
  font-family: "Lato";
  font-size: 2em;
  font-weight: 400;
  margin: 2em 0 1em 0;
  padding: 0 0 0.5em 0;
}

#about h4 {
  margin: 0 0 2.5em 0;
}

.team-header h4 span,
#team h4 {
  color: #cccccc;
  padding-right: 10px;
}

/* Team pictures and data  */

#team .bosses-area {
  padding: 0 30px;
}

#team .crew-area {
  padding: 30px 0;
}

#team .bosses-area h5 {
  font-size: 26px;
}

#team .crew-area h5 {
  font-size: 20px;
}

#team h5 strong {
  font-weight: 600 !important;
  padding-right: 5px;
}

#team p.team-work {
  color: #4db6ac;
  font-weight: 600;
}

#team a.team-rrss {
  background-color: #c4c4c4;
  border-radius: 50%;
  color: #ffffff;
  position: relative;
}

#team .bosses-area a.team-job {
  background-color: #4db6ac;
  border-radius: 50%;
  color: #fff;
  position: relative;
  font-size: 18px;
  padding: 8px 11px 8px 11px;
}

#team .bosses-area a.team-job.team-boss {
  top: 50px;
  right: 150px;
}

#team .bosses-area a.team-rrss {
  font-size: 25px;
  padding: 10px 15px;
}

#team .bosses-area a.team-rrss.team-linkedin {
  top: 100px;
  left: 180px;
}

#team .bosses-area a.team-rrss.team-twitter {
  top: 220px;
  left: 135px;
}

#team .crew-area a.team-rrss {
  font-size: 18px;
  padding: 10px 13px;
}

#team .crew-area a.team-rrss.team-linkedin {
  top: 70px;
  left: 132px;
}

#team .crew-area a.team-rrss.team-twitter {
  top: 150px;
  left: 92px;
}

#team a.team-rrss.team-linkedin:hover {
  background-color: #0077b5;
}

#team a.team-rrss.team-twitter:hover {
  background-color: #55acee;
}

#team .crew-area a.team-job {
  background-color: #4db6ac;
  border-radius: 50%;
  color: #fff;
  position: relative;
  font-size: 23px;
  padding: 4px 7px 5px 6px;
}

#team .crew-area a.team-job.team-dev {
  top: 40px;
  right: 110px;
}

#team .crew-area a.team-job.team-sales {
  top: 40px;
  right: 110px;
}

#team .crew-area a.team-job.team-support {
  top: 40px;
  right: 110px;
}

#team .crew-area a.team-job.team-design {
  top: 40px;
  right: 110px;
}

#team .crew-area a.team-job:hover {
  background-color: #00e386;
}

#team .crew-area a.team-new {
  background-color: #4db6ac;
  border-radius: 50%;
  color: #fff;
  position: relative;
  font-size: 23px;
  padding: 4px 8px 4px 8px;
  top: 40px;
  right: 62px;
}

/*---- about ----*/

.about-grids {
  margin-top: 1.5em;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  background: #e0e0e0;
}

.about-grids.row .col {
  padding: 0;
}

.about-grid {
  margin: 0;
  padding: 0;
}

.about-grid1 {
  background: #4db6ac;
}

.about-grid-pic img {
  width: 100%;
}

.about-grid-info {
  padding: 2.3em 2.5em;
}

.about-grid-info h4 {
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 0 0 0.5em 0;
  text-transform: uppercase;
  text-decoration: none;
}

.about-grid-info p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  text-align: justify;
}

.about-grid1 .about-grid-info p,
.about-grid1 .about-grid-info h4 {
  color: #FFFFFF;
}

.about-grid2 .about-grid-info p,
.about-grid2 .about-grid-info h4 {
  color: #111b0a;
}

.about-grid1 .about-grid-info h4 {
  border-bottom: 1px solid #FFFFFF;
}

.about-grid2 .about-grid-info h4 {
  border-bottom: 1px solid #111b0a;
}

.about-grid2 {
  background: #e0e0e0;
}

/* MEDIA QUERIES */

@media only screen and (max-width : 940px) {
  #team .crew-area .m3 {
    width: 33.3333%;
  }
}

@media only screen and (max-width : 801px) {
  #team .crew-area .m3 {
    width: 50%;
  }

  #team .about-grids .col.m4.about-grid,
  .row .col.m4 {
    width: 100% !important;
  }
}

@media only screen and (max-width : 750px) {
  #team .bosses-area .m6 {
    width: 100%;
  }
}

@media only screen and (max-width : 499px) {
  #team .crew-area .m3 {
    width: 100%;
  }
}

@media only screen and (max-width : 420px) {
  .upp-boss-img {
    width: 200px;
    height: 200px;
  }

  .team-jose {
    background: url("@@config.base_path/images/about/jose_ceo_mob.jpg") no-repeat center center;
  }

  .team-jose:hover {
    background: url("@@config.base_path/images/about/jose_ceo_2_mob.jpg") no-repeat center center;
  }

  .team-victor {
    background: url("@@config.base_path/images/about/victor_cmo_mob.jpg") no-repeat center center;
  }

  .team-victor:hover {
    background: url("@@config.base_path/images/about/victor_cmo_2_mob.jpg") no-repeat center center;
  }

  #team .bosses-area a.team-job {
    background-color: #4db6ac;
    border-radius: 50%;
    color: #fff;
    position: relative;
    font-size: 23px;
    padding: 4px 7px 5px 6px;
  }

  #team .bosses-area a.team-job.team-boss {
    top: 40px;
    right: 110px;
  }

  #team .bosses-area a.team-rrss {
    font-size: 18px;
    padding: 10px 13px;
  }

  #team .bosses-area a.team-rrss.team-linkedin {
    top: 70px;
    left: 132px;
  }

  #team .bosses-area a.team-rrss.team-twitter {
    top: 150px;
    left: 92px;
  }

  #team .bosses-area h5 {
    font-size: 20px;
  }
}

/* HEIGHT */

@media only screen and (max-height: 667px) {
  #about {
    padding-top: 0;
  }
}