/*
COOKIES ADVISE CSS: Custom Stylesheet --- CSS COOKIES: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

#cookies {
  position: fixed;
  bottom: 0;
  z-index: 8999;
  display: none;
  background-color: rgba(0,200,107,.7);
  width: 100%;
  border-top: 1px solid #4db6ac;
  color: #333;
  font-weight: 500;
  font-size: 1.2em;
  padding: 12px 18px 0;
}

#cookies.show {
  display: block;
}

#cookies i {
  float: left;
  padding-top: 2px;
  padding-right: 15px;
}

#cookies p a {
  font-weight: 600;
}

#cookies p a:hover {
  color: #00512c;
}