doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 8
  <html class="no-js lt-ie9" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//[if gt IE 8]><!
html.no-js(lang="#{lang_html}", prefix="og: http://ogp.me/ns#")
    //<![endif]
    block vars
    head
        include scripts
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        
        title #{title}

        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')

        meta(name='viewport', content='width=device-width')
        meta(name="google-site-verification", content="juFFMSMoqmlI8iFOJJs3EE2tObAcgyeywGbfKBrTXrU")

        meta(property='og:locale', content='es_ES')
        meta(property='og:type', content='article')
        meta(property='og:title', content='#{title}')
        meta(property='og:description', content='#{description}')
        meta(property='og:url', content='http://upplication.com/')
        meta(property='og:site_name', content='Upplication')
        meta(property='og:image', content='/images/upplication_rrss.png')

        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@upplication")
        meta(name="twitter:domain", content="Upplication")
        meta(name="twitter:creator", content="@upplication")
        meta(name="twitter:image:src", content="/images/upplication_rrss.png")

        link(type='text/plain', rel="author", href='#{localConfig.base_path}/humans.txt')
        link(rel="canonical", href="#{routing[_template][lang]}")
        link(rel="publisher", href="https://plus.google.com/u/0/b/104473837308143303881/104473837308143303881/posts")

        // build:css({.tmp, app}) /styles/aplicateca.min.css
        link(rel='stylesheet', href='/styles/deprecated/main.css')
        // endbuild   

        link(rel="shortcut icon", href="http://upplication.com/favicon.ico")
        link(rel="profile", href="http://gmpg.org/xfn/11")
        
        link(rel='stylesheet', href='#{localConfig.base_path}/fonts/style.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/magnific-popup/dist/magnific-popup.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/animate.css/animate.min.css')
    
    body(id="#{_template}", data-lang="#{lang}")
        //data = langs = #{data}! = #{langs}!
        nav.nav-basement
            ul.nav-basement-options.unstyled.margin-top.change-lang
                include header-links

        .outer-wrap

            #main-container.slide-pannel.effects
                .header-container
                    include header

                #content(class="#{cssClass}")
                    block content
                .footer-container
                    #cookies
                        p !{footer.cookies_aplicateca}
                            span#cookies-accept.close X

        //-script(src='/bower_components/zeptojs/src/touch.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/zepto/zepto.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/zeptojs/src/touch.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
        // bower:js
        // endbower

        // build:js({.tmp,app}) /scripts/aplicateca.min.js
        script(type="text/javascript", src='/scripts/ua.js')
        script(type="text/javascript", src='/scripts/topic.js')
        script(type="text/javascript", src='/scripts/v2/cookies.js')
        script(type="text/javascript", src='/scripts/v2/lang.js')
        // endbuild