//- Those scripts needs to be executed before the page loads
//- -----------------------------------------------------------
//- Setup the envs variables
//- Checks cookies looking for the preferred language


script(type="text/javascript").
  window.$UPP = window.$UPP || {};
  $UPP.config = !{config};
  $UPP.localConfig = !{JSON.stringify(localConfig)};

// build:js({.tmp,app}) /scripts/utils.min.js
script(type="text/javascript", src='/scripts/utils.js')
// endbuild

script(type='text/javascript').
  
  // Fix for IE
  if (!window.location.origin) {
    window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
  }
  
  var base = window.location.origin.split("//")[1];
  
  var BASE_PATH = "#{localConfig.base_path}";
  var DASHBOARD_PATH = "#{localConfig.dashboard_base_path}";

  document.write('<base href="//' + base  + '" />');
  
  // Javascript Error messages
  var ajax = {"error": []};

  ajax.error[2] = "#{register.error.num2}";
  ajax.error[3] = "#{register.error.num3}";
  ajax.error[4] = "#{register.error.num4}";
  ajax.error[5] = "#{register.error.num5}";
  ajax.error[6] = "#{register.error.num6}";
  ajax.error[10] = "#{register.error.num10}";

script(type='text/javascript').
  checkLanguage("#{lang}", !{routingString}, "#{_template}");