/*
HEADER CSS: Custom Stylesheet --- CSS CABECERA: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

/* ... MAIN TOP NAV BAR ... */

/*----- start-header ----*/

.logo {
  float: left;
  margin-top: 0;
}

.logo img {
  width: 160px;
  height: auto;
  position: relative;
  top: -4px;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.logo a {
  color: #303030;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2.5em;
}

.logo a:hover {
  text-decoration: none;
}

.logo a:hover img {
  -webkit-transition: scale(1.03);
  -ms-transition: scale(1.03);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.logo320 {
  display: none;
}

/*---- navbar-nav ----*/

.top-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  /* Only for Xmas:
  background: #faf9f9 url("//localhost:9000/images/home/icons/upp_header_bg_xmas.png") repeat-x;
  */
  background-color: #faf9f9;
}

.top-nav ul.hide-tabs {
  display: none !important;
}

.top-nav ul li.only-show-small-devises {
  display: none;
}

.top-nav ul li a:hover {
  background-color: rgba(250,249,249,.7);
}

.top-nav ul li a {
  color: #111b0a;
  padding: 0.2em 0.8em;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-nav ul li.enter-bold a {
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.top-nav ul li a:hover i {
  -webkit-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.top-nav ul li a i {
  padding-right: 5px;
  color: #bbbbbb;
}

.top-nav ul li a i.fa-lock {
  color: #111b0a;
}

.top-nav ul li.active a,
.top-nav ul li a:hover,
.top-nav ul li a:hover i,
.top-nav ul li a:hover i.fa-lock {
  color: #4db6ac;
}

.logo a {
  display: block;
}

/* top-nav */

.top-nav:before,
.top-nav:after {
  content: " ";
  display: table;
}

.top-nav:after {
  clear: both;
}

nav {
  position: relative;
  float: left;
  margin-top: 7px;
  margin-left: 10%;
}

nav ul {
  padding: 0;
  float: left;
  margin-top: 5px;
}

nav li {
  display: inline;
  float: left;
  position: relative;
}

nav a {
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}

nav a strong {
  font-weight: 700;
}

nav a:hover {
  text-decoration: none;
  color: #00A2C1;
}

nav a#pull {
  display: none;
}

/*Styles for screen 600px and lower*/

@media screen and (max-width: 768px) {
  nav {
    height: auto;
    float: none;
  }

  nav ul {
    width: 100%;
    display: block;
    height: auto;
  }

  nav li {
    width: 100%;
    position: relative;
  }

  nav li a {
    border-bottom: 0 solid #fff;
  }

  nav a {
    text-align: left;
    width: 100%;
  }
}

/* MEDIA QUERIES :: MOBILE HEADER */

@media only screen and (max-width : 768px) {
  #move-top .container {
    padding: 0;
  }

  #move-top .container .logo {
    padding-left: 15px;
  }

  .containerFull.contNoPad {
    padding-left: 0;
    padding-right: 0;
  }

  nav {
    border-bottom: 0;
    float: none;
  }

  nav ul {
    display: none;
    height: auto;
    margin: 0;
    background: #fff;
    float: right;
    background-color: #faf9f9;
    margin-top: 2px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  /* MOBILE NAV ICON to show and hide main top nav bar */

  nav a#pull {
    display: block;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 35px;
    height: 35px;
  }

  nav a#pull span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #4db6ac;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }

  nav a#pull span:nth-child(1) {
    top: 0;
  }

  nav a#pull span:nth-child(2),
  nav a#pull span:nth-child(3) {
    top: 10px;
  }

  nav a#pull span:nth-child(4) {
    top: 20px;
  }

  /* Three Bars nav icon (dropdown menu close) turns to red cross (dropdown menu close) */

  nav a#pull.open span {
    background: #eb5151;
  }

  nav a#pull.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  nav a#pull.open span:nth-child(2),
  nav a#pull.open span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  nav a#pull.open span:nth-child(4) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  nav a#pull.rightDots {
    right: 0;
  }

  nav a#pull:after {
    content: "";
    /*background: url('nav-icon.png') no-repeat;*/
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  nav a#pull img {
    /*margin-right:2%;*/
    position: relative;
    bottom: 20px;
  }

  .top-nav ul li {
    width: 33.3333%;
  }

  .top-nav ul li a {
    color: #111b0a;
    padding: 0em 0;
    margin: 0 auto;
  }

  ul#dropdown-lang.notshow {
    display: none !important;
  }

  ul#dropdown-lang a {
    color: #777777;
  }
}

/* Smartphone :: Landscape */

@media only screen and (max-width : 480px) {
  .top-nav ul li {
    width: 50%;
    border-top: 1px solid #eeeeee;
  }

  .top-nav ul li:nth-child(odd) {
    border-right: 1px solid #eeeeee;
  }
}

/* Smartphone :: portrait */

@media only screen and (max-width : 320px) {
  nav {
    float: none;
    padding-left: -15px;
  }

  nav li,
  .top-nav ul li {
    display: block;
    float: none;
    width: 100%;
    border-top: 1px solid #eeeeee;
  }

  nav li,
  .top-nav ul li:nth-child(odd) {
    border-right: 1px solid transparent;
  }

  ul#dropdown-lang {
    right: 0 !important;
  }
}

/*----- contact-info -----*/

.contact-info {
  float: right;
  /*width: 320px;*/
  width: 28%;
  padding-top: 3px;
  padding-left: 15px;
}

.contact-info-left {
  float: left;
  width: 50%;
  position: relative;
  top: 16px;
}

.contact-info-right {
  float: right;
  width: 50%;
  text-align: center;
  padding-top: 5px;
}

.contact-info-right a {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  display: block;
}

.contact-info-right a:hover {
  background-color: rgba(250,249,249,.7);
}

.contact-info a.support {
  color: #111b0a;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 3px;
  text-align: center;
  letter-spacing: 0.02em;
}

.contact-info-right a:hover {
  color: #00e386;
}

a.chat {
  background: #4db6ac;
  color: white;
  padding: 0.8em 1.5em;
  font-weight: 600;
  text-decoration: none;
}

a.chat:hover {
  background: #80cbc4;
}

/* ... HEADER Languages & Terms DROPDOWNS ... */

ul#dropdown-lang,
ul#dropdown-terms {
  margin-top: 47px;
  background-color: #faf9f9;
  border: 1px solid #cccccc;
  border-top: none;
}

ul#dropdown-lang {
  margin-left: -26px;
}

ul#dropdown-terms {
  margin-left: -6px;
}

ul#dropdown-lang a,
ul#dropdown-terms a {
  text-align: left;
  padding-left: 18px;
}

ul#dropdown-lang li:hover,
ul#dropdown-terms li:hover {
  background-color: transparent;
}

/* ... MEDIA QUERIES :: HEADER Languages & Terms DROPDOWNS ... */

@media only screen and (max-width: 768px) {
  ul#dropdown-lang,
  ul#dropdown-terms {
    margin-top: 45px;
    margin-left: 0;
    border: none;
  }

  ul#dropdown-lang li a,
  ul#dropdown-terms li a {
    text-align: center;
    padding-left: 18px;
    color: #777;
  }

  ul#dropdown-lang li,
  ul#dropdown-terms li {
    width: 100%;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  /* .css only for TERMS DROPDOWN ("MORE...") */

  ul#dropdown-terms {
    max-height: 150px;
  }

  ul#dropdown-terms li:first-child {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }

  ul#dropdown-terms li:last-child {
    border-bottom: 1px solid #eeeeee;
  }
}

@media only screen and (max-width: 320px) {
  ul#dropdown-terms {
    right: 0 !important;
  }
}