/*
MEDIA QUERIES CSS: Custom Stylesheet --- CSS DISEÑO ADAPTATIVO: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

/* ... GENERAL MEDIA QUERIES (Responsive Design) ... */

@media (max-width:1024px) {
  nav {
    margin: 1.4% 0 0 23%;
  }

  .domain-Serach-bar-grids {
    width: 60.8%;
  }

  .banner-info {
    margin-top: 4em;
  }

  .banner h1 {
    font-size: 2.5em;
  }

  .banner {
    min-height: 550px;
  }

  .banner-info img {
    margin: 2em 0;
  }

  .services-left,
  .services-right {
    padding: 4em 0;
  }

  .features-grid h3 {
    font-size: 1.5em;
  }

  .features:not(.features-upp) {
    padding: 2em 0 2em 0;
  }

  .features-head {
    padding-bottom: 1em;
  }

  .services-left p,
  .services-right p {
    width: 83%;
    line-height: 1.5em;
  }

  .features-grid p {
    margin-top: 0.5em;
  }

  .clients-right ul li {
    width: 20%;
  }

  .clients-right ul li a img {
    width: 100%;
  }
}

@media (max-width:768px) {
  nav {
    margin: 1.4% 0 0 23%;
  }

  .contact-info {
    float: none;
    width: 100%;
    padding: 2% 0 2% 0%;
    border-left: none;
  }

  .logo {
    margin-top: 0;
    z-index: 999;
    position: relative;
  }

  .domain-Serach-bar-grids {
    width: 79.2%;
  }

  .banner-info {
    margin-top: 4em;
  }

  .banner h1 {
    font-size: 2em;
  }

  .banner {
    min-height: 500px;
  }

  .banner-info img {
    margin: 2em 0;
  }

  .services-left,
  .services-right {
    padding: 2em 0;
  }

  .features-grid h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.3em 0;
  }

  .features {
    padding: 2em 0 2em 0;
  }

  .features-head {
    padding-bottom: 1em;
  }

  .services-left p,
  .services-right p {
    width: 83%;
    line-height: 1.5em;
  }

  .features-grid p {
    margin-top: 0.5em;
  }

  .clients-right ul li {
    width: 20%;
  }

  .clients-right ul li a img {
    width: 100%;
  }

  nav {
    margin: 1.4% 0 0 0;
  }

  .services-left img {
    width: 30%;
  }

  .services-left h2 {
    font-size: 1.8em;
    padding: 1em 0 0.5em 0;
  }

  .services-right h3 {
    font-size: 5.5em;
    padding: 0;
    line-height: 0.79em;
  }

  .features-grid {
    margin-bottom: 1.5em;
  }

  .features-grid label {
    width: 16%;
  }

  .clients-left {
    float: none;
    width: 100%;
  }

  .clients-right {
    margin-top: 2em;
    float: none;
    width: 100%;
  }

  .c-testmonial-grid {
    width: 100%;
    margin-right: 0%;
    float: none;
  }

  .clients {
    padding: 2em 0 5em;
  }

  .pricing-plan-left {
    float: none;
    width: 100%;
  }

  .pricing-plan-right {
    margin-top: 1em;
    float: none;
    width: 100%;
  }

  a.price-btn {
    display: inline-block;
    padding: 0.6em 1.2em;
  }

  .pricing-plan {
    padding: 1em 0 1.5em;
  }

  .pricing-plan-left h2 {
    font-size: 1.8em;
  }

  .about-left-grids {
    width: 100%;
    float: none;
  }

  .about-right-grids {
    float: none;
    width: 100%;
    padding: 0em 0 0;
  }

  .header-section h1 {
    font-size: 2.2em;
    margin: 0.8em 0 0em;
  }

  .header-section {
    min-height: 100px;
  }

  .about-grids {
    padding: 0.5em 0 2em 0;
  }

  .footer {
    padding: 1em 0;
  }

  .about-grids {
    padding: 0.5em 0 2em 0;
  }

  .about-left-grids h2 {
    font-size: 1.7em;
  }

  .about-left-grids h3 {
    font-size: 1.5em;
  }

  .about-left-grids h4 {
    font-size: 1.2em;
  }

  .latest-news h2 {
    font-size: 1.7em;
  }

  .pricing-table-grid {
    margin: 0 0 2em 0;
  }

  .pricing-table-grid:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
  }

  .plans-head p {
    width: 80%;
  }

  .pricing-tables {
    padding: 1em 0 0em;
  }

  .domain-grid-right h2 a {
    font-size: 1em;
  }

  .domain-grid-right p {
    width: 90%;
  }

  .domain-grid {
    padding: 1em 0;
  }

  .domain-grids {
    padding: 0 0 3em 0;
  }

  .contact-bottom-grid-left {
    float: none;
    width: 100%;
    padding: 1em 0 0 0;
  }

  .contact-bottom-grid-right {
    float: none;
    width: 100%;
    padding: 1em 0 0 0;
  }
}

@media (max-width:680px) {
  nav a#pull img {
    margin-right: 0;
    position: relative;
    bottom: 20px;
  }
}

@media (max-width:640px) {
  nav {
    margin: 1.4% 0 0 23%;
  }

  .contact-info {
    float: none;
    width: 100%;
    padding: 2% 0 2% 0%;
    border-left: none;
  }

  .logo {
    margin-top: 0;
    z-index: 999;
    position: relative;
  }

  .domain-Serach-bar-grids {
    width: 96.2%;
  }

  .banner-info {
    margin-top: 2em;
  }

  .banner h1 {
    font-size: 2em;
  }

  .banner {
    min-height: 450px;
  }

  .banner-info img {
    margin: 2em 0 1em;
  }

  .services-left,
  .services-right {
    padding: 2em 0;
  }

  .features-grid h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.3em 0;
  }

  .features {
    padding: 2em 0 2em 0;
  }

  .features-head {
    padding-bottom: 1em;
  }

  .services-left p,
  .services-right p {
    width: 83%;
    line-height: 1.5em;
  }

  .features-grid p {
    margin-top: 0.5em;
  }

  .clients-right ul li {
    width: 20%;
  }

  .clients-right ul li a img {
    width: 100%;
  }

  nav {
    margin: 1.4% 0 0 0;
  }

  .services-left img {
    width: 30%;
  }

  .services-left h2 {
    font-size: 1.5em;
    padding: 1em 0 0.5em 0;
  }

  .services-right h3 {
    font-size: 5.5em;
    padding: 0;
    line-height: 0.79em;
  }

  .features-grid {
    margin-bottom: 1.5em;
  }

  .features-grid label {
    width: 16%;
  }

  .clients-left {
    float: none;
    width: 100%;
  }

  .clients-right {
    margin-top: 2em;
    float: none;
    width: 100%;
  }

  .c-testmonial-grid {
    width: 100%;
    margin-right: 0%;
    float: none;
  }

  .clients {
    padding: 2em 0 5em;
  }

  .pricing-plan-left {
    float: none;
    width: 100%;
  }

  .pricing-plan-right {
    margin-top: 1em;
    float: none;
    width: 100%;
  }

  a.price-btn {
    display: inline-block;
    padding: 0.6em 1.2em;
  }

  .pricing-plan {
    padding: 1em 0 1.5em;
  }

  .pricing-plan-left h2 {
    font-size: 1.8em;
  }

  .about-left-grids {
    width: 100%;
    float: none;
  }

  .about-right-grids {
    float: none;
    width: 100%;
    padding: 0em 0 0;
  }

  .header-section h1 {
    font-size: 2.2em;
    margin: 0.8em 0 0em;
  }

  .header-section {
    min-height: 100px;
  }

  .about-grids {
    padding: 0.5em 0 2em 0;
  }

  .footer {
    padding: 1em 0;
  }

  .about-grids {
    padding: 0.5em 0 2em 0;
  }

  .about-left-grids h2 {
    font-size: 1.7em;
  }

  .about-left-grids h3 {
    font-size: 1.5em;
  }

  .about-left-grids h4 {
    font-size: 1.2em;
  }

  .latest-news h2 {
    font-size: 1.7em;
  }

  .pricing-table-grid {
    margin: 0 0 2em 0;
  }

  .pricing-table-grid:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
  }

  .plans-head p {
    width: 80%;
  }

  .domain-grid-right h2 a {
    font-size: 1em;
  }

  .domain-grid-right p {
    width: 90%;
  }

  .domain-grid {
    padding: 1em 0;
  }

  .domain-grids {
    padding: 0 0 3em 0;
  }

  .contact-bottom-grid-left {
    float: none;
    width: 100%;
    padding: 1em 0 0 0;
  }

  .contact-bottom-grid-right {
    float: none;
    width: 100%;
    padding: 1em 0 0 0;
  }

  .services-right h2 {
    font-size: 1.5em;
  }

  .features-head h3 {
    font-size: 2em;
  }

  a.s-btn {
    font-size: 1.2em;
    margin-top: 1.2em;
  }

  .contact-grids {
    padding: 1.5em 0 4em 0;
  }
}

@media (max-width:607px) {
  nav a#pull img {
    margin-right: 0;
    position: relative;
    bottom: 15px;
  }
}

@media (max-width:480px) {
  nav {
    margin: 1.4% 0 0 23%;
  }

  .contact-info {
    float: none;
    width: 100%;
    padding: 2% 0 2% 0%;
    border-left: none;
  }

  .logo {
    margin-top: 0;
    z-index: 999;
    position: relative;
  }

  .domain-Serach-bar-grids {
    width: 96.2%;
    border: 8px solid rgba(255, 255, 255, 0.5);
  }

  .banner-info {
    margin-top: 2em;
  }

  .banner h1 {
    font-size: 1.4em;
  }

  .banner {
    min-height: 380px;
  }

  .banner-info img {
    margin: 2em 0 1em;
  }

  .services-left,
  .services-right {
    padding: 2em 0;
  }

  .services-left p,
  .services-right p {
    display: none;
  }

  .features-grid h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.3em 0;
  }

  .features {
    padding: 1em 0 1em 0;
  }

  .features-head {
    padding-bottom: 1em;
  }

  .services-left p,
  .services-right p {
    width: 83%;
    line-height: 1.5em;
  }

  .features-grid p {
    margin-top: 0.5em;
  }

  .clients-right ul li {
    width: 20%;
  }

  .clients-right ul li a img {
    width: 100%;
  }

  nav {
    margin: 1.4% 0 0 0;
  }

  .services-left img {
    width: 24%;
  }

  .services-left h2 {
    font-size: 1.3em;
    padding: 1em 0 0.5em 0;
  }

  .services-right h3 {
    font-size: 4em;
    padding: 0;
    line-height: 0.79em;
  }

  .features-grid {
    margin-bottom: 1em;
  }

  .features-grid label {
    width: 16%;
    margin-top: 1em;
  }

  .clients-left {
    float: none;
    width: 100%;
  }

  .clients-right {
    margin-top: 2em;
    float: none;
    width: 100%;
  }

  .c-testmonial-grid {
    width: 100%;
    margin-right: 0%;
    float: none;
  }

  .clients {
    padding: 2em 0 5em;
  }

  .pricing-plan-left {
    float: none;
    width: 100%;
  }

  .pricing-plan-right {
    margin-top: 1em;
    float: none;
    width: 100%;
  }

  a.price-btn {
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
  }

  .pricing-plan {
    padding: 1em 0 1.5em;
  }

  .pricing-plan-left h2 {
    font-size: 1.4em;
  }

  .about-left-grids {
    width: 100%;
    float: none;
  }

  .about-right-grids {
    float: none;
    width: 100%;
    padding: 0em 0 0;
  }

  .header-section h1 {
    font-size: 1.8em;
    margin: 0.6em 0 0em;
  }

  .header-section {
    min-height: 65px;
  }

  .about-grids {
    padding: 0.5em 0 2em 0;
  }

  .footer {
    padding: 1em 0;
  }

  .about-grids {
    padding: 0.5em 0 2em 0;
  }

  .about-left-grids h2 {
    font-size: 1.6em;
    margin: 0.5em 0 0.3em;
  }

  .about-left-grids h3 {
    font-size: 1.3em;
  }

  .about-left-grids h4 {
    font-size: 1.2em;
  }

  .latest-news h2 {
    font-size: 1.1em;
  }

  .pricing-table-grid {
    margin: 0 0 2em 0;
  }

  .pricing-table-grid:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
  }

  .plans-head p {
    width: 90%;
  }

  .pricing-tables {
    padding: 1em 0 0em;
  }

  .domain-grid-right h2 a {
    font-size: 0.8em;
  }

  .domain-grid-right p {
    width: 100%;
    height: 84px;
    overflow: hidden;
  }

  .domain-grid {
    padding: 1em 0;
  }

  .domain-grids {
    padding: 0 0 2em 0;
  }

  .contact-bottom-grid-left {
    float: none;
    width: 100%;
    padding: 1em 0 0 0;
  }

  .contact-bottom-grid-right {
    float: none;
    width: 100%;
    padding: 1em 0 0 0;
  }

  .services-right h2 {
    font-size: 1.4em;
    padding: 1em 0 0.62em 0;
  }

  .features-head h3 {
    font-size: 1.8em;
  }

  a.s-btn {
    font-size: 1em;
    margin-top: 0.4em;
    padding: 0.5em 1.4em;
  }

  .contact-grids {
    padding: 1.5em 0 4em 0;
  }

  .domain-Serach-bar-left {
    width: 42.11%;
  }

  .features-head span {
    font-size: 0.875em;
  }

  .banner h2 {
    font-size: 1.2em;
  }

  .latest-news-grid h3 a {
    font-size: 0.62em;
  }

  .plans-head h2 {
    font-size: 1.6em;
  }

  .plans-head {
    padding: 0 0 1.2em 0;
  }

  .features-grid-right {
    width: 64%;
  }

  .our-features {
    padding: 0 0 2em 0;
  }

  .features-grid-right h4 {
    font-size: 1.3em;
  }

  .our-features-head h2 {
    font-size: 1.6em;
  }

  .our-features-head p {
    width: 90%;
  }

  .our-features-head {
    padding: 0 0 1em 0;
  }

  .hosting-grid h2 {
    font-size: 8em;
  }

  .hosting-grid p {
    font-size: 1.5em;
  }

  .hosting-grid {
    padding: 1em 0;
    min-height: 309px;
  }

  .text-fild {
    width: 100%;
    margin-right: 0%;
    float: none;
    margin-bottom: 1em;
  }

  .copy-right {
    margin-top: 3em;
  }

  .contact-map iframe {
    min-height: 150px;
  }

  .text-fild input[type="text"],
  .msg-fild input[type="text"],
  .message-fild textarea {
    padding: 0.6em;
  }

  .message-fild textarea {
    min-height: 180px;
  }
}

@media (max-width:320px) {
  nav {
    margin: 1.4% 0 0 23%;
  }

  .contact-info {
    float: none;
    width: 100%;
    padding: 5% 0 2% 0%;
    border-left: none;
  }

  .logo {
    margin-top: 0.2em;
    z-index: 999;
    position: relative;
  }

  .domain-Serach-bar-grids {
    width: 96.2%;
    border: 8px solid rgba(255, 255, 255, 0.5);
  }

  .banner-info {
    margin-top: 1em;
  }

  .banner h1 {
    font-size: 1.4em;
  }

  .banner {
    min-height: 308px;
  }

  .banner-info img {
    margin: 1em 0 0em;
    width: 15%;
  }

  .services-left,
  .services-right {
    padding: 2em 0;
  }

  .services-left p,
  .services-right p {
    display: none;
  }

  .features-grid h3 {
    font-size: 1.2em;
    margin: 0;
    padding: 0.3em 0;
  }

  .features {
    padding: 1em 0 1em 0;
  }

  .features-head {
    padding-bottom: 1em;
  }

  .services-left p,
  .services-right p {
    width: 83%;
    line-height: 1.5em;
  }

  .features-grid p {
    margin-top: 0.5em;
    font-size: 0.875em;
  }

  .clients-right ul li {
    width: 49%;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  .clients-right ul li a img {
    width: 100%;
  }

  nav {
    margin: 1.4% 0 0 0;
  }

  .services-left img {
    width: 24%;
  }

  .services-left h2 {
    font-size: 1.2em;
    padding: 1em 0 0.5em 0;
  }

  .services-right h3 {
    font-size: 2.5em;
    padding: 0;
    line-height: 0.89em;
  }

  .features-grid {
    margin-bottom: 1em;
  }

  .features-grid label {
    width: 16%;
    margin-top: 1em;
  }

  .clients-left {
    float: none;
    width: 100%;
  }

  .clients-right {
    margin-top: 1em;
    float: none;
    width: 100%;
  }

  .c-testmonial-grid {
    width: 100%;
    margin-right: 0%;
    float: none;
  }

  .clients {
    padding: 1em 0 4em;
  }

  .pricing-plan-left {
    float: none;
    width: 100%;
  }

  .pricing-plan-right {
    margin-top: 0.5em;
    float: none;
    width: 100%;
  }

  a.price-btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 0.875em;
  }

  .pricing-plan {
    padding: 1em 0 1.5em;
  }

  .pricing-plan-left h2 {
    font-size: 1.2em;
  }

  .about-left-grids {
    width: 100%;
    float: none;
  }

  .about-right-grids {
    float: none;
    width: 100%;
    padding: 0em 0 0;
  }

  .header-section h1 {
    font-size: 1.3em;
    margin: 0.6em 0 0em;
  }

  .header-section {
    min-height: 47px;
  }

  .about-grids {
    padding: 0.5em 0 2em 0;
  }

  .footer {
    padding: 1em 0;
    min-height: 535px;
  }

  .about-grids {
    padding: 0.5em 0 2em 0;
  }

  .about-left-grids h2 {
    font-size: 1.2em;
    margin: 0.3em 0 0.2em;
  }

  .about-left-grids h3 {
    font-size: 1em;
  }

  .about-left-grids h4 {
    font-size: 0.9em;
  }

  .latest-news h2 {
    font-size: 1.1em;
  }

  .pricing-table-grid {
    margin: 0 0 2em 0;
  }

  .pricing-table-grid:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
  }

  .plans-head p {
    width: 100%;
    font-size: 0.875em;
    height: 44px;
    overflow: hidden;
  }

  .pricing-tables {
    padding: 1em 0 0em;
  }

  .domain-grid-right h2 a {
    font-size: 0.6em;
  }

  .domain-grid-right p {
    width: 100%;
    height: 84px;
    overflow: hidden;
  }

  .domain-grid {
    padding: 1em 0;
  }

  .domain-grids {
    padding: 0 0 2em 0;
  }

  .contact-bottom-grid-left {
    float: none;
    width: 100%;
    padding: 1em 0 0 0;
  }

  .contact-bottom-grid-right {
    float: none;
    width: 100%;
    padding: 1em 0 0 0;
  }

  .services-right h2 {
    font-size: 1.2em;
    padding: 1em 0 0.62em 0;
  }

  .features-head h3 {
    font-size: 1.5em;
  }

  a.s-btn {
    font-size: 1em;
    margin-top: 0.4em;
    padding: 0.5em 1.4em;
  }

  .contact-grids {
    padding: 1em 0 3em 0;
  }

  .domain-Serach-bar-left {
    width: 100%;
  }

  .features-head span {
    font-size: 0.875em;
  }

  .banner h2 {
    font-size: 1.2em;
  }

  .latest-news-grid h3 a {
    font-size: 0.62em;
  }

  .plans-head h2 {
    font-size: 1.2em;
  }

  .plans-head {
    padding: 0 0 1.2em 0;
  }

  .features-grid-right {
    width: 64%;
  }

  .our-features {
    padding: 0 0 2em 0;
  }

  .features-grid-right h4 {
    font-size: 1em;
  }

  .our-features-head h2 {
    font-size: 0.9em;
  }

  .our-features-head p {
    width: 100%;
    font-size: 0.875em;
    height: 41px;
    overflow: hidden;
  }

  .our-features-head {
    padding: 0 0 1em 0;
  }

  .hosting-grid h2 {
    font-size: 7em;
  }

  .hosting-grid p {
    font-size: 1.2em;
  }

  .hosting-grid {
    padding: 0em 0;
    min-height: 218px;
  }

  .text-fild {
    width: 100%;
    margin-right: 0%;
    float: none;
    margin-bottom: 1em;
  }

  .copy-right {
    margin-top: 3em;
  }

  .contact-map iframe {
    min-height: 150px;
  }

  .text-fild input[type="text"],
  .msg-fild input[type="text"],
  .message-fild textarea {
    padding: 0.6em;
    -webkit-appearance: none;
  }

  .message-fild textarea {
    min-height: 180px;
  }

  nav a#pull {
    top: 9px;
    right: 15px;
  }

  .contact-info p {
    font-size: 0.68em;
  }

  a.chat {
    padding: 0.5em 0em;
    display: block;
    text-align: center;
  }

  .contact-info-right h3 {
    padding: 0.4em 0;
    display: block;
    font-size: 1.3em;
  }

  .contact-info-left {
    margin: 0;
    padding: 0;
  }

  .domain-Serach-bar-center {
    padding: 0.5em 1em;
    width: 38.4%;
  }

  .clients-left h3 {
    font-size: 1.5em;
  }

  .clients-left p {
    font-size: 0.875em;
  }

  .c-testmonials {
    padding-top: 1.2em;
  }

  .pricing-plan-left span {
    font-size: 0.875em;
  }

  .c-testmonial-grid-info a {
    font-size: 1em;
  }

  .map-point {
    position: absolute;
    bottom: 60%;
    right: 30%;
  }

  .map-point a {
    font-size: 0.6em;
  }

  a.to-top {
    font-size: 0.875em;
    margin-top: 2em;
  }

  .footer-right ul.footer-nav li a {
    font-size: 0.9em;
  }

  .footer-right h3 {
    font-size: 1.2em;
  }

  .about-left-grids p {
    color: #adadad;
    line-height: 1.5em;
    font-size: 0.875em;
    margin: 1em 0;
  }

  .about-left-grids ul li,
  .about-left-grids ol li {
    font-size: 0.875em;
  }

  .latest-news-grid span {
    font-size: 0.875em;
    line-height: 1.7em;
  }

  .latest-news-grid p {
    line-height: 1.5em;
    font-size: 0.875em;
  }

  .pricing-table-grid h3 {
    padding: 0.7em 0;
    font-size: 1.3em;
  }

  .pricing-table-grid ul li a,
  .pricing-table-grid ul li span {
    font-size: 0.875em;
  }

  a.order-btn {
    color: #202242;
    padding: 1em 0;
    font-size: 1em;
  }

  .h-features-grid {
    padding: 0.8em 0;
  }

  .features-grid-right span {
    font-size: 0.8em;
  }

  .features-grid-left {
    float: none;
    width: 100%;
  }

  .features-grid-right {
    margin-top: 0.8em;
    width: 100%;
  }

  .features-grid-right p {
    font-size: 0.875em;
    margin: 0.5em 0;
  }

  .domain-grid-right span {
    margin: 0 auto 0em auto;
    display: block;
    height: 22px;
    overflow: hidden;
  }

  .domain-grid-left img {
    width: 40%;
  }

  .contact-bottom-grid-left p:nth-child(2) {
    display: none;
  }

  .contact-bottom-grid-right input[type="submit"] {
    padding: 0.6em 1.8em;
  }

  .top-nav ul li a {
    padding: 0.2em 0em;
    font-size: 0.875em;
  }

  .domain-Serach-bar-left input[type="text"] {
    padding: 0.8em 1em 0.8em 1em;
    -webkit-appearance: none;
  }

  .domain-Serach-bar-center {
    height: 46px;
  }

  .domain-Serach-bar-right input[type="submit"] {
    -webkit-appearance: none;
    padding: 0.75em 0.712em;
  }

  .fleft {
    height: 35px;
  }
}

/* ... UPP CUSTOM MEDIA QUERIES (Responsive Design) ... */

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 1390px) {
  nav {
    margin-left: 9%;
  }
}

@media only screen and (max-width: 1375px) {
  nav {
    margin-left: 8%;
  }
}

@media only screen and (max-width: 1360px) {
  nav {
    margin-left: 7%;
  }
}

@media only screen and (max-width: 1345px) {
  nav {
    margin-left: 6%;
  }
}

@media only screen and (max-width: 1335px) {
  nav {
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1320px) {
  nav {
    margin-left: 4%;
  }
}

@media only screen and (max-width: 1305px) {
  nav {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 1295px) {
  nav {
    margin-left: 2%;
  }
}

@media only screen and (max-width: 1280px) {
  nav {
    margin-left: 8%;
  }
}

@media only screen and (max-width: 1240px) {
  nav {
    margin-left: 6%;
  }
}

@media only screen and (max-width: 1200px) {
  nav {
    margin-left: 4%;
  }
}

@media only screen and (max-width: 1180px) {
  nav {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 1170px) {
  nav {
    margin-left: 2%;
  }
}

@media only screen and (max-width: 1180px) {
  nav {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 1150px) {
  nav {
    margin-left: 10%;
  }

  nav ul.top-nav {
    float: right;
  }

  .contact-info p {
    display: none;
  }

  .contact-info-right h3 {
    display: none;
  }

  .contact-info-left {
    float: right;
    top: 9px;
  }

  .contact-info-right {
    display: none;
  }
}

@media only screen and (max-width: 1090px) {
  .top-nav ul li a span.bahasa-header {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  nav {
    margin-left: 3%;
    margin-top: 7px;
  }
}

@media only screen and (max-width: 999px) {
  nav {
    margin-left: 2.5%;
  }
}

@media only screen and (max-width: 975px) {
  nav {
    margin-left: 2%;
  }
}

@media only screen and (max-width: 960px) {
  nav {
    margin-left: 0;
  }
}

@media only screen and (max-width: 940px) {
  nav {
    margin-left: 3%;
  }

  .top-nav ul li a {
    padding: 0.2em .8em;
    font-size: .85em;
  }

  .top-nav ul li a span {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  nav {
    margin-left: 2%;
  }

  .top-nav ul li a {
    padding: 0.2em .7em;
  }
}

@media only screen and (max-width: 895px) {
  nav {
    margin-left: 0;
  }
}

@media only screen and (max-width: 875px) {
  .contact-info {
    display: none;
  }

  nav {
    float: inherit;
  }
}

@media only screen and (max-width: 820px) {
  nav ul {
    float: right;
  }

  .top-nav ul li a {
    padding: 0.2em .8em;
    font-size: .85em;
  }
}

/* ... HEADERS of Slider ...................................................... */

@media only screen and (min-width: 2000px) {
  .formPhone {
    right: 20% !important;
  }
}

@media only screen and (max-width: 1950px) {
  .formPhone {
    right: 19% !important;
  }
}

@media only screen and (max-width: 1950px) {
  .formPhone {
    right: 18% !important;
  }
}

@media only screen and (max-width: 1900px) {
  .formPhone {
    right: 17% !important;
  }
}

@media only screen and (max-width: 1850px) {
  .formPhone {
    right: 16% !important;
  }
}

@media only screen and (max-width: 1800px) {
  .formPhone {
    right: 15% !important;
  }
}

@media only screen and (max-width: 1750px) {
  .formPhone {
    right: 14% !important;
  }
}

@media only screen and (max-width: 1700px) {
  .formPhone {
    right: 13% !important;
  }
}

@media only screen and (max-width: 1650px) {
  .formPhone {
    right: 12% !important;
  }
}

@media only screen and (max-width: 1600px) {
  .formPhone {
    right: 11% !important;
  }

  .mainHead h2 span.intro-2b:after {
    border-width: 34px 14px 0 0;
    top: 30px;
  }
}

@media only screen and (max-width: 1500px) {
  .formPhone {
    right: 10% !important;
  }
}

@media only screen and (max-width: 1400px) {
  .formPhone {
    right: 10% !important;
  }
}

@media only screen and (max-width: 1380px) {
  .mainHead h1 {
    font-size: 2.5em;
  }

  .mainHead h1:before {
    top: -1px;
  }
}

@media only screen and (max-width: 1325px) {
  .mainHead h1 {
    font-size: 2.4em;
  }

  .mainHead h1:after {
    border-width: 42px 28px 0 0;
  }
}

@media only screen and (max-width: 1300px) {
  .formPhone {
    right: 9% !important;
  }
}

@media only screen and (max-width: 1280px) {
  .formPhone {
    right: 30px !important;
  }

  .mainHead {
    left: 60px;
    width: 90%;
  }

  .mainHead h1:before {
    border-width: 0 0 43px 10px;
  }
}

@media only screen and (max-width: 1180px) {
  .mainHead h2 {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 1080px) {
  .formPhone {
    right: 30px;
  }

  .formPhone {
    top: 162px;
  }
}

@media only screen and (max-width: 1001px) {
  .mainHead h1 {
    font-size: 2.2em;
  }

  .mainHead h1:before {
    border-width: 0 0 39px 10px;
  }

  .mainHead h1:after {
    border-width: 37px 28px 0 0;
  }
}

@media only screen and (max-width: 940px) {
  .mainHead h1 {
    font-size: 2em;
  }

  .mainHead h1:before {
    border-width: 0 0 36px 10px;
  }

  .mainHead h1:after {
    border-width: 35px 28px 0 0;
  }
}

@media only screen and (max-width: 885px) {
  .mainHead h1 {
    font-size: 1.9em;
  }

  .mainHead h1:before {
    border-width: 0 0 34px 10px;
  }

  .mainHead h1:after {
    border-width: 33px 28px 0 0;
  }

  .mainHead h2 {
    font-size: 1.4em;
  }

  .mainHead h2 span.intro-2b:after {
    border-width: 34px 14px 0 0;
    top: 30px;
  }
}

@media only screen and (max-width: 830px) {
  .mainHead h1 {
    font-size: 1.8em;
  }

  .mainHead h1:before {
    border-width: 0 0 32px 10px;
  }

  .mainHead h1:after {
    border-width: 31px 28px 0 0;
  }

  .mainHead h2 {
    font-size: 1.2em;
  }

  .mainHead h2 span.intro-2a:before {
    border-width: 0px 0 30px 10px;
    top: -26px;
  }

  .mainHead h2 span.intro-2b:after {
    border-width: 31px 14px 0 0;
    top: 27px;
    right: -19px;
  }
}

@media only screen and (max-width: 768px) {
  .mainHead {
    top: 90px;
    width: 91%;
    left: 30px;
  }

  .mainHead h1 {
    font-size: 1.7em;
    margin: 0;
    padding-bottom: 5px;
  }

  .mainHead h1 span {
    display: inline-block;
    margin-top: 5px;
  }

  .mainHead h1:before {
    border-width: 0 0 40px 16px;
    left: -16px;
  }

  .mainHead h1:after {
    border-width: 39px 19px 0 0;
    right: -19px;
  }

  .mainHead h2 {
    font-size: 1.3em;
    margin: 0;
  }

  .mainHead h2 span {
    display: inline-block;
  }

  .mainHead h2 span.intro-2b {
    margin-left: -5px;
  }
}

@media only screen and (max-width: 720px) {
  .mainHead h1 {
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 5px;
  }

  .mainHead h1:before {
    border-width: 0 0 37px 16px;
    left: -16px;
  }

  .mainHead h1:after {
    border-width: 36px 19px 0 0;
    right: -19px;
  }
}

@media only screen and (max-width: 655px) {
  .mainHead h1 {
    font-size: 1.3em;
  }

  .mainHead h1:before {
    border-width: 0 0 33px 16px;
  }

  .mainHead h1:after {
    border-width: 32px 19px 0 0;
  }

  .mainHead h2 {
    font-size: 1em;
  }

  .mainHead h2 span.intro-2a:before {
    border-width: 0px 0 27px 10px;
    top: -23px;
  }

  .mainHead h2 span.intro-2b:after {
    border-width: 27px 14px 0 0;
    top: 23px;
  }

  .mainHead h2 span.intro-2b {
    margin-left: -4px;
  }
}

@media only screen and (max-width: 560px) {
  .mainHead h1 {
    font-size: 1.1em;
  }

  .mainHead h1:before {
    border-width: 0 0 30px 16px;
  }

  .mainHead h1:after {
    border-width: 29px 19px 0 0;
  }

  .mainHead h2 {
    font-size: .8em;
  }

  .mainHead h2 span.intro-2a:before {
    border-width: 0px 0 24px 10px;
    top: -19px;
  }

  .mainHead h2 span.intro-2b:after {
    border-width: 24px 14px 0 0;
    top: 20px;
  }
}

@media only screen and (max-width: 510px) {
  .mainHead h1 {
    font-size: 1em;
  }

  .mainHead h1:before {
    border-width: 0 0 28px 16px;
  }

  .mainHead h1:after {
    border-width: 27px 19px 0 0;
  }
}

@media only screen and (max-width: 465px) {
  .mainHead h1,
  .mainHead .typed-effect {
    display: table;
  }

  .mainHead h1 {
    font-size: 1.5em;
    padding-top: 5px;
  }

  .mainHead h1:before {
    border-width: 0 0 68px 16px;
  }

  .mainHead h1:after {
    border-width: 68px 19px 0 0;
  }

  .mainHead h2 {
    font-size: 1.3em;
  }

  .mainHead h2 span {
    display: table;
  }

  .mainHead h2 span.intro-2a:before {
    border-width: 0px 0 31px 10px;
    top: -27px;
  }

  .mainHead h2 span.intro-2b:after {
    border-width: 31px 14px 0 0;
    top: 27px;
  }
}

@media only screen and (max-width: 400px) {
  .mainHead {
    left: 20px;
  }

  .mainHead h1 {
    font-size: 1.3em;
  }

  .mainHead h1:before {
    border-width: 0 0 60px 16px;
  }

  .mainHead h1:after {
    border-width: 60px 19px 0 0;
  }
}

@media only screen and (max-width: 360px) {
  .mainHead h1 {
    font-size: 1.1em;
  }

  .mainHead h1:before {
    border-width: 0 0 54px 16px;
  }

  .mainHead h1:after {
    border-width: 54px 19px 0 0;
  }

  .mainHead h2 {
    font-size: 1.1em;
  }

  .mainHead h2 span.intro-2a:before {
    border-width: 0px 0 29px 10px;
    top: -25px;
  }

  .mainHead h2 span.intro-2b:after {
    border-width: 29px 14px 0 0;
    top: 25px;
  }

  .formPhone-mobile {
    margin-left: 0;
    width: 100%;
  }
}

/* HEIGHTS stoppers */

@media only screen and (max-height: 568px) {
  .formPhone-mobile {
    bottom: 95px;
  }
}

/* ... HEADERS :: TITLE SECTIONS ...................................................... */

@media only screen and (max-width: 450px) {
  h4 {
    font-size: 2rem;
  }
}

/* ... TABS ...................................................... */

@media only screen and (max-width: 1050px) {
  #tabs ul li.tab a {
    font-weight: 500;
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  #tabs .mobileImg {
    width: 30.33333%;
  }

  #tabs .mobileText {
    width: 61.33333%;
  }

  #tabs h5 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 820px) {
  #tabs ul li.tab a span em {
    display: none;
  }

  #tabs .mobileImg {
    width: 28.33333%;
  }

  #tabs .mobileText {
    width: 63.33333%;
  }

  #tabs h5 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  #tabs .mobileImg {
    width: 100%;
  }

  #tabs img {
    width: 40%;
    float: none;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #tabs .mobileText {
    width: 100%;
  }

  #tabs h5 {
    font-size: 20px;
    line-height: 30px;
  }

  #tabs div.margTop50 {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 550px) {
  #tabs ul li.tab a span {
    font-size: 14px;
  }

  #tabs .tabs .indicator::after,
  .tabs .indicator::after {
    left: 40%;
  }
}

@media only screen and (min-width: 500px) {
  #tabs ul li.tab a span {
    display: block;
  }

  #tabs ul li.tab a i {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #tabs ul li.tab a span {
    display: none;
  }

  #tabs ul li.tab a i {
    display: block;
    font-size: 2.5em;
  }
}

/* HEIGHT */

@media only screen and (max-height: 667px) {
  .plans-head {
    padding: 0;
  }
}

/* ... TIMELINE STEPS ...................................................... */

@media only screen and (max-width: 1199px) {
  .appReady h4 {
    bottom: 98px;
  }
}

@media only screen and (max-width: 767px) {
  .appReady {
    margin-left: 13% !important;
    margin-top: 1.5% !important;
    width: 50% !important;
  }

  .timeline .timeline-heading h4 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 540px) {
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 0 0 100px;
  }

  .appReady {
    margin-left: 13% !important;
    margin-top: 1.5% !important;
    width: 50% !important;
  }

  .timeline .timeline-heading h4 {
    font-size: 1.6em;
  }

  .timeline .timeline-heading span {
    padding: 4px 10px;
    font-size: 17px;
    bottom: 3px;
  }

  .appReady h4 {
    font-weight: 600;
    font-size: 25px;
    bottom: 100px;
  }
}

@media only screen and (max-width: 505px) {
  .appReady {
    margin-left: 14% !important;
  }

  .timeline .timeline-body>p {
    font-size: 17px;
  }

  .timeline .timeline-heading h4 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 470px) {
  .appReady {
    margin-left: 15% !important;
    width: 70% !important;
  }

  .timeline .timeline-heading h4 {
    font-size: 1.4em;
  }

  .timeline .timeline-heading span {
    padding: 3px 9px;
    font-size: 16px;
    bottom: 2px;
  }
}

@media only screen and (max-width: 450px) {
  .appReady {
    margin-left: 16% !important;
  }

  .timeline .timeline-heading h4 {
    font-size: 1.2em;
  }

  .timeline .timeline-heading span {
    padding: 3px 9px;
    font-size: 16px;
    bottom: 1px;
  }
}

@media only screen and (max-width: 420px) {
  .appReady {
    margin-left: 18% !important;
    width: 80% !important;
  }
}

@media only screen and (max-width: 390px) {
  .appReady {
    margin-left: 19% !important;
  }
}

@media only screen and (max-width: 370px) {
  .appReady {
    margin-left: 20% !important;
  }
}

@media only screen and (max-width: 350px) {
  .appReady {
    margin-left: 21% !important;
  }
}

@media only screen and (max-width: 330px) {
  .appReady {
    margin-left: 22% !important;
  }
}

/* ... PRICING LIST BOXES ...................................................... */

@media only screen and (max-width: 1150px) {
  #mensual,
  #anual {
    margin-top: 0;
  }

  #mensual .mobilePrices,
  #anual .mobilePrices {
    width: 33% !important;
    padding-top: 30px;
  }

  .badgeTopSales {
    top: 34px;
  }

  .priceAdvise img {
    top: 33px;
  }
}

@media only screen and (max-width: 920px) {
  #mensual,
  #anual {
    margin-top: 30px;
  }

  #mensual .mobilePrices,
  #anual .mobilePrices {
    width: 50% !important;
    padding-top: 0;
  }

  .badgeTopSales {
    top: 5px;
  }

  .priceAdvise img {
    top: 3px;
  }
}

@media only screen and (max-width: 820px) {
  #anual .alert span.monthless {
    font-size: 17px;
  }
}

@media only screen and (max-width: 780px) {
  #anual .col-xs-12:not(.mobilePrices) {
    text-align: center;
  }

  #anual .alert span.fa-stack {
    display: block;
    position: inherit;
  }

  #anual .alert span.fa-stack i.fa-ban {
    color: #a1d2eb;
    position: absolute;
    opacity: .8;
    font-size: 70px;
    bottom: 25px;
    left: 2px;
  }

  #anual .alert span.monthless {
    font-size: 17px;
  }
}

@media only screen and (max-width: 694px) {
  #anual .alert span.fa-stack i.fa-ban {
    bottom: 63px;
  }
}

@media only screen and (max-width: 680px) {
  .alert-info {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 640px) {
  #mensual .mobilePrices,
  #anual .mobilePrices {
    width: 60% !important;
    float: none;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #pricing .tax p {
    text-align: center;
  }
}

@media only screen and (max-width: 540px) {
  #mensual .mobilePrices,
  #anual .mobilePrices {
    width: 70% !important;
  }
}

@media only screen and (max-width: 440px) {
  #mensual .mobilePrices,
  #anual .mobilePrices {
    width: 80% !important;
  }
}

@media only screen and (max-width: 380px) {
  #mensual .mobilePrices,
  #anual .mobilePrices {
    width: 90% !important;
  }
}

@media only screen and (max-width: 340px) {
  #mensual .mobilePrices,
  #anual .mobilePrices {
    width: 100% !important;
  }
}

/* ... TESTIMONIAL ...................................................... */

@media only screen and (max-width: 1050px) {
  .clients {
    padding: 0;
  }

  .c-testmonial-grid {
    width: 100%;
    margin-bottom: 6em;
  }
}

/* HEIGHT */

@media only screen and (max-height: 667px) {
  .c-testmonials .marBot100 {
    margin-bottom: 50px;
  }

  .c-testmonials h4 {
    margin: 0;
  }
}

/* ... CREA TU APP (footer) ...................................................... */

@media only screen and (max-width: 1015px) {
  .pricing-plan-left {
    width: 60%;
  }

  .pricing-plan-right {
    float: right;
    text-align: right;
    width: 40%;
  }

  .pricing-plan-left h2 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 805px) {
  .pricing-plan {
    padding: 7em 0;
  }

  .pricing-plan-left {
    width: 100%;
    text-align: center;
  }

  .pricing-plan-right {
    text-align: center;
    margin-top: 80px;
    width: 100%;
  }

  .pricing-plan-left h2 {
    font-size: 2em;
  }

  .pricing-plan-left span {
    padding: .8em 0 0 0;
  }
}

@media only screen and (max-width: 520px) {
  .pricing-plan-left h2 {
    font-size: 1.8em;
  }

  .pricing-plan-left span {
    font-size: 1em;
  }
}

@media only screen and (max-width: 460px) {
  .pricing-plan-left h2 {
    font-size: 1.6em;
  }

  .pricing-plan-left span {
    font-size: .8em;
  }
}

@media only screen and (max-width: 420px) {
  .pricing-plan-left h2 {
    font-size: 2em;
  }

  .pricing-plan-left h2 em {
    display: block;
  }
}

@media only screen and (max-width: 340px) {
  a.price-btn {
    padding: 1em;
  }
}

/* ... SERVICIO ATENCIÓN AL CLIENTE (footer) ...................................................... */

@media only screen and (max-width: 830px) {
  .servCliente .container {
    padding-right: 0;
    padding-left: 0;
  }

  .servCliente ul li {
    padding: 20px 20px 15px 20px;
    display: block;
    text-align: center;
  }

  .servCliente ul li::first-child a {
    color: #999;
  }
}

/* ... FOOTER ...................................................... */

@media only screen and (max-width: 1280px) {
  .page-footer .footer-copyright .container {
    padding-right: 0;
  }
}

@media only screen and (max-width: 992px) {
  .page-footer .footCol {
    width: 25% !important;
  }
}

@media only screen and (max-width: 810px) {
  footer.page-footer .footer-copyright {
    height: 100px;
    line-height: 30px;
  }

  footer.page-footer .footer-copyright ul {
    display: block;
    width: 100%;
    padding-top: 10px;
  }

  .page-footer .footer-copyright .container {
    padding-left: 0;
    padding-top: 10px;
    text-align: center;
  }

  footer.page-footer .footer-copyright span {
    padding-left: 20px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .page-footer .footCol {
    width: 33% !important;
  }
}

@media only screen and (max-width: 599px) {
  .page-footer .padTop50 {
    padding-top: 10px;
  }

  .page-footer .footCol {
    width: 100% !important;
    padding-left: 30px;
  }

  .page-footer .footer-copyright span {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 499px) {
  .page-footer .footer-copyright {
    font-size: 14px;
  }

  .page-footer .footer-copyright span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .page-footer .footer-copyright {
    font-size: 13px;
  }

  .page-footer .footer-copyright span {
    font-size: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .page-footer .footer-copyright {
    font-size: 14px;
  }

  .page-footer .footer-copyright span {
    padding-left: 12px;
  }

  .page-footer .footer-copyright em {
    font-size: 16px;
    display: block;
  }

  footer.page-footer .footer-copyright {
    height: 150px;
    line-height: 30px;
  }
}

/* ... LEGAL ADVISE & ABOUT US ...................................................... */

@media only screen and (max-width: 1080px) {
  .about-left-grids {
    padding: 0em .7em 2em 1em;
  }

  .about-left-grids,
  .about-right-grids {
    width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .about-left-grids {
    padding: 0;
  }
}

/* ... MODAL ...................................................... */

@media only screen and (max-width: 1280px) {
  .modal {
    width: 60%;
  }
}

@media only screen and (max-width: 1150px) {
  .modal {
    width: 70%;
  }
}

@media only screen and (max-width: 989px) {
  .modal {
    width: 80%;
  }
}

@media only screen and (max-width: 850px) {
  .modal {
    width: 90%;
  }

  #help-center .help-center-grid {
    width: 100%;
  }
}

@media only screen and (max-width: 668px) {
  #pruebaGratis.modal {
    width: 100%;
  }

  #pruebaGratis .modal-content h2 {
    font-size: 20px;
  }

  #pruebaGratis .modal-content h2:after {
    top: 59px;
  }
}

@media only screen and (max-width: 480px) {
  #pruebaGratis .modal-terms ul li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 440px) {
  #pruebaGratis .modal-terms ul {
    padding: 0;
  }

  #pruebaGratis .modal-terms ul li a {
    display: block;
  }

  input[type=text],
  input[type=password],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea.materialize-textarea {
    margin: 0 0 20px 0;
  }
}

@media only screen and (max-width: 380px) {
  .modal {
    width: 95%;
  }

  #pruebaGratis .modal-content h2 {
    font-size: 16px;
  }
}

/* ... PRICING  ...................................................... */

/* ... MAIN MENU TOP NAV ...................................................... */

@media only screen and (max-width: 768px) {
  .top-nav ul li.only-show-small-devises {
    display: inline-block;
  }

  .top-nav ul li.only-show-small-devises.phone-kerning {
    letter-spacing: 0.04em;
    font-family: "Lato", sans-serif;
  }

  nav ul.top-nav {
    margin-top: -1px;
  }

  nav a#pull img {
    margin-right: 0;
    position: relative;
    bottom: 25px;
  }
}

@media only screen and (min-width: 769px) {
  nav a#pull img {
    margin-right: 3% !important;
    position: relative !important;
    bottom: 10px !important;
  }
}

/* ... LOGIN AREA  ...................................................... */

@media only screen and (max-height: 667px) {
  .popup .popup-container-login {
    margin-top: 110px;
  }

  a.green.backgrounded {
    display: inline-block;
  }

  .popup .popup-container-login header:after {
    left: 48%;
  }
}

@media only screen and (max-height: 375px) {
  .popup .popup-container-login {
    width: 95%;
    max-width: 550px;
    margin-top: 10px;
  }

  .info-box.inbox {
    padding-top: 0;
  }
}

/* ... MOBILE HEADER  ...................................................... */

@media only screen and (max-width: 540px) {
  nav a#pull img {
    margin-right: 0;
    position: relative;
    bottom: 20px;
  }
}

@media only screen and (max-width: 320px) {
  nav a#pull img {
    margin-right: 10px;
    position: relative;
    bottom: 8px;
  }
}

/* ... MOBILE "TRY IT" BUTTON (HOME) ...................................................... */

@media only screen and (min-width: 767px) {
  .formPhone-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .formPhone {
    display: none;
  }

  .skew-right {
    -webkit-transform: skew(0deg, -5deg);
    -ms-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
  }

  .slider.slides-to-mobile,
  .slider.slides-to-mobile .slides {
    height: 400px !important;
  }

  /* "TRY IT" BUTTON for MOBILE & TABLETS */

  .formPhone-mobile {
    display: block;
    z-index: 100;
    bottom: 45px;
  }

  .formPhone-mobile a {
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
  }

  .formPhone-mobile a i {
    margin-right: 10px;
  }
}

@media only screen and (max-height: 420px) {
  .slider.slides-to-mobile,
  .slider.slides-to-mobile .slides {
    height: 350px !important;
  }
}

/* ... HOME INTRO SLIDER BOTTOM SKEW for big screems .................... */

@media only screen and (min-width: 1750px) {
  .dippah.skew-right {
    -webkit-transform: skew(0deg, -2.5deg);
    -ms-transform: skew(0deg, -2.5deg);
    transform: skew(0deg, -2.5deg);
  }
}

/* ... PRICE PAGE ...................................................... */

@media only screen and (max-width: 768px) {
  .pricing-tables.pricing-tables-mobile {
    padding: 3em 0 0em !important;
  }

  #pricing .incluye {
    padding-right: 0;
    padding-left: 0;
  }

  #pricing .incluye ul li span:last-child {
    display: block;
    padding-left: 45px;
    padding-bottom: 8px;
  }
}