/*
MODALS - ALERTS - SLIDER CSS: Custom Stylesheet --- CSS GENERALES: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

/* ... MODALS ... */

#materialize-lean-overlay-2 {
  opacity: 0.85;
}

a.modal-action.modal-close {
  float: right;
  padding-top: 10px;
  color: #aaa;
  padding-right: 23px;
}

a.modal-action.modal-close:hover {
  color: #333;
}

.modal.modal-upp {
  overflow-y: auto;
  background-color: #ffffff;
  top: 0 !important;
  border-radius: 0;
}

#pruebaGratis.modal {
  max-height: 510px;
  max-width: 800px;
}

#allContact.modal {
  max-height: 300px;
  max-width: 700px;
}

#hiring.modal {
  max-height: 460px;
  max-width: 700px;
}

.modal.modal-upp a.modal-action.modal-close {
  float: inherit;
  padding: 5px;
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal.modal-upp a.modal-action.modal-close i.fa.fa-close {
  position: relative;
  bottom: 10px;
}

.modal.modal-upp .modal-content {
  border: 0 solid transparent;
  border-radius: 0 !important;
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
  overflow-x: hidden;
  padding: 0;
}

.modal.modal-upp .modal-content h2 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  background-color: #eeeeee;
  padding: 15px 0;
}

.modal.modal-upp .modal-content h2:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f1f1f1;
  top: 63px;
}

.modal.modal-upp .modal-content h2:after {
  right: 48%;
}

.modal.modal-upp .modal-content h2 span {
  font-weight: 500;
  color: #00bfa5;
}

/* Prueba Gratis :: modal */

#pruebaGratis .modal-content div {
  padding: 5px 15px 0 15px;
}

#pruebaGratis form {
  padding-right: 20px !important;
}

#pruebaGratis form .input-field .prefix {
  color: #cccccc;
}

#pruebaGratis .input-field:last-child a {
  text-align: right;
}

#pruebaGratis .modal-terms {
  padding: 0;
  width: 100%;
}

#pruebaGratis .modal-terms ul {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}

#pruebaGratis .modal-terms ul li {
  display: inline;
  font-size: 14px;
  font-weight: 500;
}

#pruebaGratis .modal-terms ul li a {
  font-weight: 600;
}

#pruebaGratis .modal-terms ul li a:hover {
  color: #26a69a;
  /* Verde Medio */
}

#pruebaGratis .input-field,
#pruebaGratis form {
  padding: 0;
}

#pruebaGratis form {
  margin-bottom: 0;
}

.input-field .prefix ~ label {
  margin-left: 3rem;
  margin-top: -5px;
}

.input-field .prefix ~ label.active {
  text-align: left;
}

#pruebaGratis .error.general-error,
#pruebaGratis p.error {
  width: 98%;
}

#pruebaGratis p.error {
  right: 25px;
}

@media only screen and (max-width: 850px) {
  #pruebaGratis .modal-footer ul {
    padding-top: 7px;
  }
}

/* Contact :: Modal */

#allContact .modal-content .rrss-modal,
#hiring .modal-content .rrss-modal {
  text-align: center;
}

#allContact .modal-content .row.contact-btns {
  padding: 15px;
  margin-top: 30px;
}

#allContact .modal-content .row:not(.contact-btns) {
  padding: 0 15px 0 15px;
  margin-bottom: 0;
}

#allContact .modal-content .row.contact-btns > div {
  margin-bottom: 10px;
}

#allContact .modal-content .rrss-modal li {
  display: inline;
  padding: 0 10px;
}

#allContact .modal-content .rrss-modal li a {
  font-size: 30px;
  color: #999999;
}

#allContact .modal-content .rrss-modal li a:hover {
  color: #555555;
}

#allContact .modal-content .rrss-modal li.facebook a:hover {
  color: #3b5998;
}

#allContact .modal-content .rrss-modal li.twitter a:hover {
  color: #55acee;
}

#allContact .modal-content .rrss-modal li.instagram a:hover {
  color: #3f729b;
}

#allContact .modal-content .rrss-modal li.youtube a:hover {
  color: #cd201f;
}

#allContact .modal-content .rrss-modal li.linkedin a:hover {
  color: #0077b5;
}

#allContact .modal-content .rrss-modal li.google a:hover {
  color: #dc4e41;
}

#allContact .modal-content .contact-btns a {
  width: 100%;
  font-size: 18px;
  font-family: "lato";
  letter-spacing: 0.04em;
}

#allContact .modal-content .contact-btns a span {
  position: relative;
  bottom: 7px;
  left: 10px;
}

#allContact .modal-content .contact-btns a:last-child span {
  text-transform: lowercase;
}

/* Hiring :: Modal */

#hiring .modal-content .row.hiring-icons {
  text-align: center;
}

#hiring .modal-content .row.hiring-icons img {
  width: 30%;
  height: auto;
  padding: 10px 0 20px 0;
}

#hiring .modal-content .row.contact-btns {
  padding: 0 15px;
  margin-top: 0;
}

#hiring .modal-content .row:not(.contact-btns) {
  padding: 0 15px 0 15px;
  margin-bottom: 0;
}

#hiring .modal-content .row.contact-btns > div {
  margin-bottom: 10px;
}

#hiring .modal-content .row.contact-btns > div:nth-child(even) {
  padding-left: 0;
}

#hiring .modal-content .contact-btns a {
  width: 100%;
  font-size: 18px;
  font-family: "lato";
  letter-spacing: 0.04em;
  text-transform: inherit;
}

@media only screen and (max-width: 600px) {
  #allContact.modal,
  #hiring.modal {
    width: 100%;
    max-height: 550px;
  }

  #hiring .modal-content .row.contact-btns > div:nth-child(even) {
    padding-left: 12px;
  }

  #allContact .modal-content .row.contact-btns {
    margin: 0;
  }
}

@media only screen and (max-height: 600px) {
  #allContact.modal,
  #hiring.modal {
    max-height: 360px;
  }

  #hiring.modal .hiring-icons {
    display: none;
  }

  #hiring .modal-content .row.contact-btns {
    margin-top: 18px;
  }
}

@media only screen and (max-width: 360px) {
  .modal.modal-upp .modal-content h2 {
    font-size: 19px;
  }
}