/*
404 ("page not found" error page) CSS: Custom Stylesheet --- Error 404: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2016
*/

.page-not-found-bg {
  width: 100%;
  border-bottom: 1px solid #e9ebf2;
  padding-top: 50px;
}

.page-not-found-header {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.page-not-found-header h4 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eafff5), color-stop(100%, #00a659));
  background-image: -webkit-linear-gradient(#eafff5,#00a659);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  position: relative;
  font-size: 200px;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin: .2em 0 0 0;
  padding: 0;
}

.page-not-found-header h4:after {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 33px 5px 5px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: -1;
}

.page-not-found-header p {
  font-size: 41px;
  color: #666666;
}

.page-not-found-header p span {
  color: #4db6ac;
}

.not-found-suggestions p {
  font-weight: 400;
  color: #4b4b4b;
  font-size: 18px;
  line-height: 30px;
}

.not-found-suggestions p a {
  color: #4db6ac;
  font-weight: 500;
}

.not-found-suggestions p a:hover {
  color: #26a69a;
}

.not-found-suggestions p.number {
  text-align: center;
}

.not-found-suggestions p.number:before {
  font-family: "Lato", serif;
  padding: 4px 11px;
  background-color: #fff;
  border-radius: 50%;
  font-weight: 700;
  color: #a9b1cc;
  font-size: 20px;
  position: relative;
  bottom: 4px;
  margin-right: 10px;
  border: 1px solid #a9b1cc;
}

.not-found-suggestions p.number.number-one:before {
  content: '1';
}

.not-found-suggestions p.number.number-two:before {
  content: '2';
}

.not-found-suggestions p.number.number-three:before {
  content: '3';
}

.not-found-suggestions p.number.number-four:before {
  content: '4';
}

/* MEDIA QUERIES */

@media (max-width:1350px) {
  .page-not-found-header {
    top: 60px;
  }
}

@media (max-width:1150px) {
  .page-not-found-header {
    top: 30px;
  }
}

@media (max-width:1080px) {
  .page-not-found-header {
    top: 30px;
  }

  .page-not-found-header h4 {
    font-size: 150px;
  }

  .page-not-found-header p {
    font-size: 30px;
    color: #666666;
  }
}

@media (max-width:768px) {
  .page-not-found-header {
    top: 10px;
  }
}

@media (max-width:667px) {
  .page-not-found-bg {
    padding-bottom: 100px;
  }

  .page-not-found-header h4:after {
    text-shadow: -4px 5px 5px rgba(0, 0, 0, 0.1);
  }

  .page-not-found-header p {
    font-size: 24px;
  }
}

@media (max-width:600px) {
  .container .center-align {
    text-align: left;
    padding-bottom: 0;
  }

  .row.not-found-suggestions .col {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .page-not-found-bg {
    padding-bottom: 120px;
  }
}