extends base/v2/base

block vars
    - var title = $.home._meta_title
    - var description = $.home._meta_description
    - var keywords = $.home._keywords
    - var cssClass = 'home'

block css
    // build:css({.tmp, app}) /styles/home.min.css
    link(rel='stylesheet', href='/styles/css/home/home.css')
    // endbuild

block content
    // SLIDER
    .slider.slides-to-mobile
        .mainHead
            h1 #{home.slider.intro1}
                .typed-effect
                    span.element
            h2 !{home.slider.intro2}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/home/bg/bgpymes.jpg', alt='#{home.slider.bg}')
            li
                img(src='#{localConfig.base_path}/images/home/bg/bgcoffeeshop.jpg', alt='#{home.slider.bg}')
            li
                img(src='#{localConfig.base_path}/images/home/bg/bgservices.jpg', alt='#{home.slider.bg}')
            li
                img(src='#{localConfig.base_path}/images/home/bg/bgstores.jpg', alt='#{home.slider.bg}')
            li
                img(src='#{localConfig.base_path}/images/home/bg/bgdrinkingtea.jpg', alt='#{home.slider.bg}')
            li
                img(src='#{localConfig.base_path}/images/home/bg/bgbarbershop.jpg', alt='#{home.slider.bg}')
        .dippah.skew-right
    // FORM "TRY FREE 15 DAYS" (DESKTOP - LAPTOP)
    .col-xs-12.col-md-5.right.formPhone.animated.fadeIn
        .row.registerTop
            .headReg
                h2 !{form.free_form}
            form(name="register", action="/register", method="post").col.s12
                input(type="hidden", name="customerType", value="UPPLICATION")
                p.error.general-error.display-none #{register.error.general}
                .row.marBot10.main-contact-form
                    .input-field.col.s12
                        input#app_name.validate(type='text', name='appName', required)
                        label(for='app_name') #{form.input.name}
                            p.error.display-none.register-appName-error
                    .input-field.col.s12
                        input#email.validate(type='email', name='email', required)
                        label(for='email') #{form.input.email}
                            p.error.display-none.register-email-error
                    .input-field.col.s12
                        //input#password.validate(type='password', name='password', required)
                        textarea#message.validate(class='materialize-textarea',required)
                        label(for='message') #{form.input.message}
                            p.error.display-none.register-password-error
                .btnReg
                    button(type="submit", data-loading="#{register.loading}", data-text="#{register.call_to_action}").waves-effect.waves-light.btn-large.btn-upp
                        i.material-icons.left.check #{icons.check}
                        span #{header.free_trial}

                    //p #{form.change_form}
                   // p #{modal.footer.accept}
                        a.terms-conditions(href='#{external.tos.url}', target='_blank', title='#{modal.footer.terms}') #{modal.footer.terms}
                        | .
    // FORM "TRY FREE 15 DAYS" (MOBILE - TABLET)
    .col-xs-10.col-xs-offset-1.formPhone-mobile.animated.fadeIn
        a.price-btn.modal-trigger(href='#pruebaGratis')
            i.fa.fa-cog.fa-spin
            span #{home.samples.free_app}
    // WHY
    .features.features-upp
        .container
            .features-grids.text-center.animated.zoomIn
                .col-md-4
                    .features-grid.centerImg
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rise.png', alt='')
                        span.f-icon
                        label
                        h3 !{home.why.grow}
                .col-md-4
                    .features-grid.centerImg
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/loyal.png', alt='')
                        span.f-icon1
                        label
                        h3 !{home.why.loyal}
                .col-md-4
                    .features-grid.centerImg
                        img.img-responsive(src='#{localConfig.base_path}/images/home/icons/rocket.png', alt='')
                        span.f-icon2
                        label
                        h3 !{home.why.others}
                .clearfix
    // SAMPLES
    #tabs.container.scrollspy
        .row
            .plans-head.text-center
                h4.headTitles #{home.samples.business}
        .section
            .row
                .col.s12
                    ul.tabs
                        li.tab.col.s6.l3
                            a.active(href='#host')
                                i.fa.fa-cutlery
                                span #{home.samples.restaurants}
                        li.tab.col.s6.l3
                            a(href='#tiendas')
                                i.fa.fa-shopping-cart
                                span #{home.samples.shops}
                        li.tab.col.s6.l3
                            a(href='#servprof')
                                i.fa.fa-wrench
                                span !{home.samples.serv}
                        li.tab.col.s6.l3
                            a(href='#personal')
                                i.fa.fa-cog
                                span #{home.samples.personal}
                #host.col.s12
                    .row.padTop50
                        .col.s12.l4.mobileImg
                            img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/iphone.png', alt='#{home.samples.alt_tag.img_iphone}')
                        .col.s12.l7.margTop50.mobileText
                            h5 !{home.samples.rest.rest_intro}
                            ul.uppOnFoot(type='circle')
                                li
                                    a(href='')
                                        i.fa.fa-check
                                        !{home.samples.rest.details1}
                                li
                                    a(href='')
                                        i.fa.fa-check
                                        !{home.samples.rest.details2}
                                li
                                    a(href='')
                                        i.fa.fa-check
                                        !{home.samples.rest.details3}
                                li
                                    a(href='')
                                        i.fa.fa-check
                                        !{home.samples.rest.details4}
                            a.waves-effect.waves-light.btn-large.btn-upp.modal-trigger(href='#pruebaGratis')
                                i.left.fa.fa-cog.fa-spin
                                span #{home.samples.free_app}
                #tiendas.col.s12
                    .row.padTop50
                        .col.s12.l4.mobileImg
                            img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/nexus.png', alt='#{home.samples.alt_tag.img_nexus}')
                        .col.s12.l7.margTop50.mobileText
                            h5 !{home.samples.shop.shop_intro}
                                | .
                            ul.uppOnFoot(type='circle')
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.shop.shop_details1}
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.shop.shop_details2}
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.shop.shop_details3}
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.shop.shop_details4}
                            a.waves-effect.waves-light.btn-large.btn-upp.modal-trigger(href='#pruebaGratis')
                                i.left.fa.fa-cog.fa-spin
                                span #{home.samples.free_app}
                #servprof.col.s12
                    .row.padTop50
                        .col.s12.l4.mobileImg
                            img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/galaxy.png', alt='#{home.samples.alt_tag.img_galaxy}')
                        .col.s12.l7.margTop50.mobileText
                            h5 !{home.samples.services.serv_intro}
                            ul.uppOnFoot(type='circle')
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.services.serv_details1}
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.services.serv_details2}
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.services.serv_details3}
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.services.serv_details4}
                            a.waves-effect.waves-light.btn-large.btn-upp.modal-trigger(href='#pruebaGratis')
                                i.left.fa.fa-cog.fa-spin
                                span #{home.samples.free_app}
                #personal.col.s12
                    .row.padTop50
                        .col.s12.l4.mobileImg
                            img.responsive-img.imgMove(src='#{localConfig.base_path}/images/home/bg/sonyxperiaz3.png', alt='#{home.samples.alt_tag.img_xperia}')
                        .col.s12.l7.margTop50.mobileText
                            h5 !{home.samples.custom.cust_intro}
                            ul.uppOnFoot(type='circle')
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.custom.cust_details1}
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.custom.cust_details2}
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.custom.cust_details3}
                                li
                                    a(href='#!')
                                        i.fa.fa-check
                                        !{home.samples.custom.cust_details4}
                            a.waves-effect.waves-light.btn-large.btn-upp.modal-trigger(href='#pruebaGratis')
                                i.left.fa.fa-cog.fa-spin
                                span #{home.samples.free_app}
    // Spacer with Grey Border
    .spacer-border-grey

    // MULTIDEVISES APPS
    section#multidevises.scrollspy
        .container
            .row
                .plans-head.text-center.padTop30
                    h4.headTitles.noMargBot #{home.multidevises.title}
                    p #{home.multidevises.sub_title}
            .row
                .multidevises-bg.marBot50
                    img.responsive-img#image-test(src='#{localConfig.base_path}/images/home/bg/devises_bg.jpg', alt='#{home.multidevises.title}')
    // HOW I MADE MY OWN APP in 4 Steps
    section#about.scrollspy
        .container
            .row
                .plans-head.text-center
                    h4.headTitles #{home.how.how_main}
            .row
                .col-lg-12
                    ul.timeline
                        li.step1
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/icons/keyboard.png', alt='')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading
                                        span 1
                                        !{home.how.how_one.reg_step1}
                                .timeline-body
                                    p.text-muted
                                        span #{home.how.how_one.reg_step2}
                                        | &nbsp;#{home.how.how_one.reg_step3}
                        li.timeline-inverted.step2
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/icons/register.png', alt='')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading
                                        span 2
                                        !{home.how.how_two.app_step1}
                                .timeline-body
                                    p.text-muted !{home.how.how_two.app_step2}
                                    p.text-muted !{home.how.how_two.app_step3}
                                    p.text-muted !{home.how.how_two.app_step4}
                        li.step3
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/icons/light.png', alt='')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading
                                        span 3
                                        !{home.how.how_three.tutor_step1}
                                .timeline-body
                                    p.text-muted !{home.how.how_three.tutor_step2}
                                    p.text-muted !{home.how.how_three.tutor_step3}
                        li.timeline-inverted.step4
                            .timeline-image
                                img.img-circle.img-responsive.imgFlash(src='#{localConfig.base_path}/images/home/icons/bullhorn.png', alt='')
                            .timeline-panel
                                .timeline-heading
                                    h4.subheading
                                        span 4
                                        !{home.how.how_four.publish_step1}
                                .timeline-body
                                    p.text-muted !{home.how.how_four.publish_step2}
                                    p.text-muted !{home.how.how_four.publish_step3}
    // SLIDER 2
    .slider.middle-page-slider
        .app-ready.center
            h4 #{home.slider.appready}
        ul.slides
            li
                img(src='#{localConfig.base_path}/images/home/bg/bg_01.jpg', alt='#{home.slider.bg}')
            li
                img(src='#{localConfig.base_path}/images/home/bg/bg_02.jpg', alt='#{home.slider.bg}')
            li
                img(src='#{localConfig.base_path}/images/home/bg/bg_03.jpg', alt='#{home.slider.bg}')
            li
                img(src='#{localConfig.base_path}/images/home/bg/bg_04.jpg', alt='#{home.slider.bg}')
    // CLIENTS
    .clients
        .container
            // CLIENTS TESTIMONIALS
            .c-testmonials
                .text-center.marBot100
                    h4.headTitles #{home.testimonials.title}
                .c-testmonial-grid
                    .c-testmonial-grid-info
                        p
                            span #{home.testimonials.client1.cite}
                        a(href='#{home.testimonials.client1.url}', target='_blank', title='#{home.testimonials.client1.name}') - #{home.testimonials.client1.name}
                    .c-testmonial-grid-pic
                        img(src='#{localConfig.base_path}/images/home/clients/ana.png', title='name')
                .c-testmonial-grid
                    .c-testmonial-grid-info
                        p
                            span #{home.testimonials.client2.cite}
                        a(href='#{home.testimonials.client2.url}', target='_blank', title='#{home.testimonials.client2.name}') - #{home.testimonials.client2.name}
                    .c-testmonial-grid-pic
                        img(src='#{localConfig.base_path}/images/home/clients/david.png', title='name')
                .c-testmonial-grid
                    .c-testmonial-grid-info
                        p
                            span #{home.testimonials.client3.cite}
                        a(href='#{home.testimonials.client3.url}', target='_blank', alt='#{home.testimonials.client3.name}') - #{home.testimonials.client3.name}
                    .c-testmonial-grid-pic
                        img(src='#{localConfig.base_path}/images/home/clients/gabriel.png', title='name')

block scripts

    // TYPED PLUGIN JS
    script(type='text/javascript').
        $(function () {
            $(".element").typed({
                strings: !{JSON.stringify(home.slider.text)},
                typeSpeed: 100,
                startDelay: 200,
                backDelay: 2500,
                loop: true
            });
        });

    // CUSTOM JS
    script(type='text/javascript').
        $(document).ready(function () {
            $('ul.tabs').tabs();
            $('.parallax').parallax();
            $('.slider').slider({
                indicators: false,
                interval: 4000
            });
            var options = [
                {selector: '#tabs', offset: 300, callback: 'Materialize.showStaggeredList("#tabs")'},
                {selector: '#about', offset: 300, callback: 'Materialize.showStaggeredList(".timeline")'},
                {selector: '#pricing', offset: 300, callback: 'Materialize.showStaggeredList(".incluye")'},
                {selector: '#multidevises', offset: 500, callback: 'Materialize.fadeInImage("#image-test")'},
            ];
            Materialize.scrollFire(options);
            // Animate.css for web elements:
            var $imgMove = $('.imgMove'),
                    $imgFlash = $('.imgFlash');
            $imgMove.mouseenter(function () {
                $(this).addClass("animated");
                $(this).addClass("pulse");
            });
            $imgMove.mouseleave(function () {
                $(this).removeClass("animated");
                $(this).removeClass("pulse");
            });
            $imgFlash.mouseenter(function () {
                $(this).addClass("animated");
                $(this).addClass("rubberBand");
            });
            $imgFlash.mouseleave(function () {
                $(this).removeClass("animated");
                $(this).removeClass("rubberBand");
            });
            // end home
        });
