block vars
    - var title = $.home_tlf._meta_title
    - var description = $.home_tlf._meta_description
    - var keywords = $.home_tlf._keywords
    - var cssClass = 'home'
doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//if IE 8
  <html class="no-js lt-ie9" lang="#{lang_html}" prefix="og: http://ogp.me/ns#">
//[if gt IE 8]><!
html.no-js(lang="#{lang_html}", prefix="og: http://ogp.me/ns#")
    //<![endif]

    head
        include base/scripts
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')
        meta(name='viewport', content='width=device-width')
        meta(name="google-site-verification", content="juFFMSMoqmlI8iFOJJs3EE2tObAcgyeywGbfKBrTXrU")
        meta(property='og:locale', content='es_ES')
        meta(property='og:type', content='article')
        meta(property='og:title', content='#{title}')
        meta(property='og:description', content='#{description}')
        meta(property='og:url', content='http://upplication.com/')
        meta(property='og:site_name', content='Upplication')
        meta(property='og:image', content='/images/upplication_rrss.png')
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@upplication")
        meta(name="twitter:domain", content="Upplication")
        meta(name="twitter:creator", content="@upplication")
        meta(name="twitter:image:src", content="/images/upplication_rrss.png")
        link(type='text/plain', rel="author", href='#{localConfig.base_path}/humans.txt')
        link(rel="canonical", href="#{routing[_template][lang]}")
        link(rel="publisher", href="https://plus.google.com/u/0/b/104473837308143303881/104473837308143303881/posts")
        // build:css({.tmp, app}) /styles/mpos.min.css
        link(rel='stylesheet', href='/styles/deprecated/main.css')
        // endbuild
        link(rel="shortcut icon", href="http://upplication.com/favicon.ico")
        link(rel="profile", href="http://gmpg.org/xfn/11")
        link(rel='stylesheet', href='#{localConfig.base_path}/fonts/style.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/magnific-popup/dist/magnific-popup.css')
        link(rel='stylesheet', href='#{localConfig.base_path}/bower_components/animate.css/animate.min.css')

    body(id="#{_template}", data-lang="#{lang}")
        //data = langs = #{data}! = #{langs}!
        nav.nav-basement.color-tlf
            ul.nav-basement-options.unstyled.margin-top.change-lang
                li.menu_txt
                    p.uppercase.white #{header.menu}
                li.change-lang.change-lang-menu
                    each lang in langs.codes
                        a(href="#{routing[_template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_short_code}
                li.login_btn
                    a(href='#{$.external.dashboard.url}') #{$.external.dashboard.anchor}
        .outer-wrap.color-tlf
            #main-container.slide-pannel.effects
                .header-container-tlf
                    header.padding-top.tlf
                        a.logo.margin-bottom(href='#{localConfig.base_path}')
                            .logo-tlf
                        a.icon-list
                            span Menu
                        nav.main-menu.uppercase.unstyled
                            ul#sections
                                li.menu_txt
                                    p.uppercase.white #{header.menu}
                                li.change-lang.change-lang-menu
                                    each lang in langs.codes
                                        a(href="#{routing[_template][lang.language_country]}", data-lang="#{lang.language_country}") #{lang.language_short_code}
                                //li.login_btn
                                    a(href='#{$.external.dashboard.url}') #{$.external.dashboard.anchor}
                            a.btn-signup.green-accent-btn.triggers-signup.bold(href="#", onclick="return false;") #{header.free_trial}
                        //a.login.unstyled(href="#{$.external.dashboard.url}") #{$.external.dashboard.anchor}

                #content(class="#{cssClass}")
                    script(type='text/javascript').
                        $UPP.url = "#{$.home_tlf._url}";
                    section#register
                        div
                            .mobile
                                img(src="#{localConfig.base_path}/images/la-florette-mobile.png", alt="App móvil")
                            .claim.padding-top-2x.margin-bottom-2x.width-90.center
                                h1.uppercase.cwhite.acenter.bold #{register.claim}
                                p.big.acenter #{register.arguments}
                            .video-container.acenter.margin-bottom-3x
                                a#youtube-video.unstyled.icon-play.mfp-iframe(href="http://www.youtube.com/watch?v=_9Xknb3xz7o")
                            article
                                form(name="register", action="/register", method="post")
                                    div.announce.bg-cblack.acenter.btn.arrow-down-black
                                        | #{$.register.announce}
                                    input(type="hidden", name="customerType", value="MPAY")
                                    label(for="appName")
                                        input(type="text", name="appName", placeholder="#{register.app_name}", required="required", minlength="3", maxlength="32", pattern="^[a-zA-Z]{1}[a-zA-Z0-9 ]{2,}", title="#{register.warning.name}")
                                        p.error.display-none
                                            //| El nombre de la app ya está registrado
                                    label(for="email")
                                        input(type="email", name="email", placeholder="#{register.email}", required="required")
                                        p.error.display-none
                                            //| El email ya está registrado
                                    label(for="password")
                                        input(type="password", name="password", placeholder="#{register.password}", required="required", title="#{register.warning.password}", pattern=".{8,}")
                                        p.error.display-none
                                            //| La contraseña debe contener al menos 6 caracteres
                                    input.green-accent-btn.big.btn.margin-bottom.uppercase.bold(type="submit", value="#{register.call_to_action}", data-loading="#{register.loading}", data-text="#{register.call_to_action}")
                                    p.tos.acenter.italic !{register.accept_terms}
                                        a(href="#{external.tos.url}") #{register.terms}

                    section#multidevice.bg-alabaster.padding.clearfix
                        .margin-bottom-2x.margin-top-2x

                            .width-55.left
                                h1.acenter #{home.multidevice.title}
                                p.acenter.center
                                    | #{home.multidevice.text}

                            #devices.margin-top-3x.margin-bottom-3x.acenter.width-45
                                img.screenshot-devices(src='#{localConfig.base_path}/images/apps-para-todos-los-dispositivos.png', alt="#{home.multidevice.devices_alt}")

                            ul.so-available
                                li
                                    a.icon-html5(title="#{home.multidevice.html5_alt}")
                                li
                                    a.icon-apple(title="#{home.multidevice.ios_alt}")
                                li
                                    a.icon-android(title="#{home.multidevice.android_alt}")

                    section#showcase.min-bottom-space.min-top-space.padding.clearfix
                        h1.width-80.center.acenter.mine-shaft.margin-bottom-3x.margin-top-2x #{home.showcase.title}
                        div.container
                            button.slider-btn.prev-btn.home-slider
                                span(class="icon-arrow-left")
                            button.slider-btn.next-btn.home-slider
                                span(class="icon-arrow-right")

                            div#showcase-items.clearfix
                                each category, i in showcase.categories
                                    div(class=i === 0 ? "showcase-item clearfix" : "showcase-item clearfix hidden", data-category="#{category.name}")
                                        div.info-container
                                            h2 #{category.title}
                                            p #{category.description}

                                            ul.features
                                                each feature in category.features
                                                    li
                                                        span.plus-icon +
                                                        span #{feature}

                                            ul.operating-systems
                                                li
                                                    a(href="#{category.url}", target="_blank")
                                                        span.icon-html5
                                                li
                                                    a(href="#{category.url}", target="_blank", class="no-pointer-events")
                                                        span.icon-ios
                                                li
                                                    a(href="#{category.url}", target="_blank", class="no-pointer-events")
                                                        span.icon-android

                                        div.phone-container.small
                                            img(src="/images/sample_apps/#{category.name}.png", alt="#{category.title}")

                    section.bg-alabaster.padding.clearfix.padding-top-3x.padding-bottom-2x.press
                        ul.acenter.margin-top-2x
                            li
                                a(href="#{home.press.abc}", rel="nofollow")
                                    img(src="#{localConfig.base_path}/images/press/abc.png", alt="ABC")
                            li
                                a(href="#{home.press.el_economista}", rel="nofollow")
                                    img(src="#{localConfig.base_path}/images/press/eleconomista.png", alt="elEconomista")
                            li
                                a(href="#{home.press.agencia_efe}", rel="nofollow")
                                    img(src="#{localConfig.base_path}/images/press/emprende.png", alt="EFE Emprende")
                            li
                                a(href="#{home.press.forbes}", rel="nofollow")
                                    img(src="#{localConfig.base_path}/images/press/forbes.png", alt="Forbes")
                            li
                                a(href="#{home.press.telefonica}", rel="nofollow")
                                    img(src="#{localConfig.base_path}/images/press/telefonica.png", alt="Think Big Telefonica")
                            li
                                a(href="#{home.press.ticbeat}", rel="nofollow")
                                    img(src="#{localConfig.base_path}/images/press/ticbeat.png", alt="Ticbeat")
                            li
                                a(href="#{home.press.wwwhatsnew}", rel="nofollow")
                                    img(src="#{localConfig.base_path}/images/press/wwwhatsnew.png", alt="wwwhatsnew")

                    section.padding.clearfix
                        h1.width-80.center.acenter.mine-shaft.margin-bottom-3x.margin-top-2x #{home.testimonials.title}
                        ul.testimonials
                            li
                                blockquote.clearfix
                                    img(src="#{localConfig.base_path}/images/aplicateca/ana.jpeg", alt="Ana, C'UP Your choice on top")
                                    p #{home.testimonials.client1.cite}
                                    footer
                                        cite - #{home.testimonials.client1.name}

                            li
                                blockquote.clearfix
                                    img(src="#{localConfig.base_path}/images/aplicateca/david.jpeg", alt="David, Bar Trapatapa")
                                    p #{home.testimonials.client2.cite}
                                    footer
                                        cite - #{home.testimonials.client2.name}

                            li
                                blockquote.clearfix
                                    img(src="#{localConfig.base_path}/images/aplicateca/gabriel.jpeg", alt="Gabriel, Moto Urban")
                                    p #{home.testimonials.client3.cite}
                                    footer
                                        cite - #{home.testimonials.client3.name}

                    script(type='text/javascript', src='//www.youtube.com/player_api')

                #dark-layout

                section.bg-alabaster.padding.clearfix.padding-top-4x.padding-bottom-4x.acenter
                    h1.inline-block.no-margin #{home.try}
                    a.wide.btn.bold.inline-block.triggers-signup.margin-left-2x.green-accent-btn(href="#", onclick="return false") #{home.create_free}

                .footer-container.footer-container-tlf
                    section
                        .contact__customer-service.margin-top-cero.margin-bottom-cero.large.acenter
                            .g-plusone.vertical-align-middle
                            .customer-service__text.inline-block.vertical-align-top.padding-4px #{home_tlf.contact.customer_service.text}
                            .customer-service__links.inline-block.vertical-align-top.padding-4px
                                span -
                                a.customer-service__email(href="#{home_tlf.contact.customer_service.email.link}", title="#{home_tlf.contact.customer_service.email.title}")  #{home_tlf.contact.customer_service.email.text}
                    hr.clear
                    #cookies
                        p !{footer.cookies}
                            span#cookies-accept.close X

        include includes/mpos/signup
        //-script(src='/bower_components/zeptojs/src/touch.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/zepto/zepto.min.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/zeptojs/src/touch.js')
        script(type="text/javascript", src='#{localConfig.base_path}/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
        // bower:js
        // endbower

        // build:js({.tmp,app}) /scripts/mpos.min.js
        script(type='text/javascript').
            $("#seller-code").hide();
            $("[name=customerType]").val("MPAY");
        script(type="text/javascript", src='/scripts/ua.js')
        script(type="text/javascript", src='/scripts/topic.js')
        script(type="text/javascript", src='/scripts/v2/cookies.js')
        script(type="text/javascript", src='/scripts/mpos/app.js')
        // endbuild
