extends base/v2/base

block vars
    - var title = $.offer._meta_title
    - var description = $.offer._meta_description
    - var keywords = $.offer._keywords
    - var cssClass = 'offer'

block css
    // build:css({.tmp, app}) /styles/offer.developer.min.css
    link(rel='stylesheet', href='/styles/css/offer/offer.css')
    // endbuild

block content
    script(type='text/javascript').
        $UPP.url = "#{$.offer._url}";

    section.bottom-space
        .container.offer-jobs
            h2.text-center.padTop50 #{external.hiring_developer.anchor}

            img.full(src="#{localConfig.base_path}/images/offer/office_dev.jpg", alt="oficina")

            .intro
                each intro, i in offer.introduction
                    p #{intro}

            .technologies
                p #{offer.technologies.intro}
                ul
                    each tech, i in offer.technologies.list
                        li #{tech}
                p #{offer.technologies.note}

            .weoffer
                p #{offer.weoffer.intro}
                ul
                    each weoffer, i in offer.weoffer.list
                        li #{weoffer}

            .wewantyou
                p !{offer.wewanttomeetyou}
                
            .cheers
                each cheer, i in offer.cheers
                    p #{cheer}