extends base/v2/base

block vars
    - var title = $.offer_marketing._meta_title
    - var description = $.offer_marketing._meta_description
    - var keywords = $.offer_marketing._keywords
    - var cssClass = 'offer'

block css
    // build:css({.tmp, app}) /styles/offer.marketing.min.css
    link(rel='stylesheet', href='/styles/css/offer/offer.css')
    // endbuild

block content
    script(type='text/javascript').
        $UPP.url = "#{$.offer_marketing._url}";

    section.bottom-space
        .container.offer-jobs
            h2.text-center.padTop50 #{external.hiring_marketing.anchor}

            img.full(src="#{localConfig.base_path}/images/offer/office_marketing.jpg", alt="oficina")

            .intro
                each intro, i in offer_marketing.introduction
                    p #{intro}

            .technologies
                p #{offer_marketing.technologies.intro}
                ul
                    each tech, i in offer_marketing.technologies.list
                        li #{tech}
                p #{offer_marketing.technologies.note}

            .weoffer_marketing
                p #{offer_marketing.weoffer.intro}
                ul
                    each weoffer, i in offer_marketing.weoffer.list
                        li #{weoffer}

            .wewantyou
                p !{offer_marketing.wewanttomeetyou}

            .cheers
                each cheer, i in offer_marketing.cheers
                    p #{cheer}