extends base/aplicateca/base
block vars
    - var title = $.terms_movistar._meta_title
    - var description = $.terms_movistar._meta_description
    - var keywords = $.terms_movistar._keywords
    - var cssClass = 'terms'
block content
    section
        h2 #{terms_movistar.sections.title}
        div.container.margin
            each section in terms_movistar.sections.sections
                h1 #{section.title}
                each ch in section.children
                    if typeof ch != 'object'
                        p #{ch}
                    else
                        h3 #{ch.title}
                        each subchild in ch.children
                            p #{subchild}
